
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <section class="col-lg- col-md- col-sm-12 col-xs-12 main-column">
            <div id="content">

                <form action="" method="post" accept-charset="utf-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class=" box productcarousel">
                                <div class="box-heading"><span>Đặt hàng thành công</span></div>
                                <div class="box-content">
                                    <p>Cảm ơn bạn đã mua hàng tại <a href="/">Siêu Thị Thú Cưng Hachiko</a>.</p>
                                    <p>Mã đơn hàng của bạn: #7152</p>
                                    <!-- <p><img class="img-responsive" src="/skin/temp1/imgs/khidathangxong.png"></p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box productcarousel cart-mini">
                                <div class="box-heading"><span>Đơn hàng</span></div>
                                <div class="box-content">
                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <div class="row">

                                                <div class="col-xs-8">
                                                    Bát ăn meka cho chó mèo hình vương miệng - <strong><i>1 cái</i></strong> (x1)
                                                </div>
                                                <div class="col-xs-4 text-right">
                                                    50,000<sup>đ</sup>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <hr class="dashed">
                                                </div>

                                                <div class="col-xs-8">
                                                    CHÉN ĂN CHẬM CHO CÚN THAM ĂN - <strong><i>1 CÁI</i></strong> (x1)
                                                </div>
                                                <div class="col-xs-4 text-right">
                                                    85,000<sup>đ</sup>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <hr>
                                                </div>
                                                <div class="col-xs-8">
                                                    <strong>Tạm tính</strong>
                                                </div>
                                                <div class="col-xs-4 text-right">
                                                    135,000<sup>đ</sup>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <hr>
                                                </div>
                                                <div class="col-xs-8">
                                                    <strong>Phí vận chuyển</strong>
                                                </div>
                                                <div class="col-xs-4 text-right">
                                                    <span id="shipping_fee">0</span><sup>đ</sup>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <strong>Tổng cộng</strong>
                                                </div>
                                                <div class="col-xs-4 text-right">
                                                    <strong><span id="total_money">135,000</span><sup>đ</sup></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>




                <style type="text/css" media="screen">
                    .cart-mini hr, .cart-mini hr.dashed {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                        .cart-mini hr.dashed {
                            border-style: dashed;
                        }

                    #wrap_coupon.show-coupon #wrap_show_coupon, #wrap_coupon.form-coupon #wrap_form_coupon, #wrap_coupon.btn-using #wrap_btn_using {
                        display: block;
                    }

                    #wrap_btn_using {
                        display: none;
                    }

                    #wrap_form_coupon {
                        display: inline-block;
                        width: 100%;
                        display: none;
                    }

                        #wrap_form_coupon .coupon-error {
                            border: 1px dashed #f88d81 !important;
                            color: #F06455 !important;
                            padding: 5px;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            display: none;
                        }

                    #wrap_show_coupon {
                        width: 100%;
                        text-align: center;
                        height: 35px;
                        line-height: 35px;
                        margin-bottom: 11px;
                        text-align: center;
                        color: #4AB4F0;
                        font-weight: bold;
                        display: none;
                    }

                        #wrap_show_coupon .inner {
                            background: #F0F0F0;
                            display: inline-block;
                            width: 100%;
                        }

                            #wrap_show_coupon .inner > div:first-child {
                                padding-left: 0;
                            }

                        #wrap_show_coupon .remove {
                            text-align: left;
                            background: #F06455;
                            display: inline-block;
                            padding: 0 10px;
                            color: #fff;
                            cursor: pointer;
                        }
                </style>

            </div>
        </section>
    </div>
</div>


