
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@*<div class="breadcrumb-area">*@
<div class="container">
    <div class="breadcrumb-content">
        <ul>
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>@Html.ActionLink("Phối Giống", "Index", "PhoiGiong")</li>
        </ul>
    </div>
</div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            @*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <h3 class="entry-title text-center">Dịch Vụ Phối Giống</h3>
                <div id="sites-chrome-main-wrapper">
                    <div id="sites-chrome-main-wrapper-inside">
                        <table id="sites-chrome-main" class="sites-layout-hbox" cellspacing="0" cellpadding="{scmCellpadding}" border="0">
                            <tbody>
                                <tr>
                                    <td id="sites-chrome-sidebar-left" class="sites-layout-sidebar-left" style="display: none; width: 207px">
                                        <div xmlns="http://www.w3.org/1999/xhtml" id="COMP_4680892907942795" class="sites-embed" role="complementary"><h4 class="sites-embed-title"></h4><div class="sites-embed-content sites-embed-content-sidebar-textbox"><div dir="ltr"><div><img height="300" src="http://www.google.com/chart?cht=d&amp;chdp=sites&amp;chl=%5B%5BRecent+announcements'%3D20'f%5Cv'a%5C%3D0'10'%3D399'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22S%E1%BA%A3n+ph%E1%BA%A9m+th%C3%BA+c%C6%B0ng%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D400'%3D297'dim'%5C%3D10'%3D10'%3D400'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C" style="display:block;text-align:left;margin-right:auto" width="400"></div></div></div></div>
                                    </td>
                                    <td id="sites-canvas-wrapper">
                                        <div id="sites-canvas" role="main">
                                            <div id="goog-ws-editor-toolbar-container"> </div>
                                            <div xmlns="http://www.w3.org/1999/xhtml" id="title-crumbs" style="display: none;">
                                            </div>
                                            <h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="display: none;" align="left">
                                                <span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Dịch Vụ Phối Giống Cho Mèo</span>
                                            </h3>
                                            <div id="sites-canvas-main" class="sites-canvas-main">
                                                <div id="sites-canvas-main-content">
                                                    <div xmlns="http://www.w3.org/1999/xhtml" class="sites-layout-name-right-sidebar-hf sites-layout-vbox">
                                                        <div class="sites-layout-tile sites-tile-name-header sites-layout-empty-tile"><div dir="ltr"><br></div></div><table cellspacing="0" class="sites-layout-hbox">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="sites-layout-tile sites-tile-name-content-1">
                                                                        <div dir="ltr">
                                                                            <div style="display:block;text-align:left"></div>
                                                                            <div style="font-size:13.3333px">
                                                                                <font size="3">
                                                                                    <div style="display:block;text-align:left"><img border="0" src="https://sites.google.com/site/dichvuthucungtrungtinh/_/rsrc/1474815106146/dich-vu-thu-cung/dich-vu.jpg" style="width:100%;display:block;margin-right:auto;text-align:left"></div>
                                                                                    <br>
                                                                                </font>
                                                                            </div>
                                                                            <div>
                                                                                <span style="font-size:13.3333px;font-family:Arial,Verdana,sans-serif">
                                                                                    <font face="times new roman, serif">
                                                                                        <div style="font-size:13.3333px">
                                                                                            <h4 style="text-align:center;margin:0px;padding:3px 5px;border-style:none;border-width:initial;border-color:initial;color:rgb(255,255,255)!important;background-color:rgb(15,57,94)!important;background-repeat:no-repeat!important"><a name="TOC-D-CH-V-TH-Y"></a><font size="3">Dịch Vụ Phối Giống Cho Chó</font></h4>
                                                                                        </div>
                                                                                        <div style="font-weight:normal;font-size:13.3333px"><table border="0" cellspacing="0" style="font-size:medium;background-color:transparent;border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:639px;height:200px"><br>Với các bác sĩ thú y tận tâm và giàu kinh nghiệm trên 30 năm trong nghề, phòng khám của chúng tôi tự hào cung cấp các dịch vụ thú y chuyên nghiệp như phối giống cho các giống chó:<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Phối giống chó Alaskan Malamute.<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Các giống chó Chihuahua từ lông ngắn đến lông dài.<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Giống chó lạp xưởng/ Xúc xích (Việt Nam,Thái,Mỹ,Nga,...).<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Chó Phú Quốc,chó cỏ.<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Chó Poodle,Pug,Alaska,Husky,Samoyed,...<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Và một số giống chó khác hiện nay.<br><br><span>&nbsp;&nbsp; &nbsp;</span><br><b><font color="#ff9900"><br>ĐẶC BIỆT: ĐẢM BẢO CÁC BABY SAU KHI SINH SẼ 100% THUẦN CHỦNG VÀ KHỎE MẠNH.</font></b></td><td style="width:200px;height:200px"><div><div></div><div style="display:block;text-align:left"><img border="0" src="~/Asset/images1/pg.png" style="width:100%;display:block;margin-right:auto;text-align:left"></div></div></td></tr></tbody></table></div><div style="font-weight:normal;font-size:13.3333px"><br></div>
                                                                                    </font>
                                                                                </span>
                                                                                <h4 style="text-align:center;margin:0px;padding:3px 5px;border-style:none;border-width:initial;border-color:initial;color:rgb(255,255,255)!important;background-color:rgb(15,57,94)!important;background-repeat:no-repeat!important"><a name="TOC-MUA-B-N-TH-C-NG"></a><font face="times new roman, serif" size="3">Dịch Vụ Phối Giống Cho Mèo</font></h4>
                                                                            </div><div style="font-size:13.3333px"><b style="font-size:13.3333px"><span style="font-weight:normal"><font face="times new roman, serif"><div style="font-size:13.3333px"><div style="font-size:13.3333px"><font size="3"><table border="0" cellspacing="0" style="border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:640px;height:199px">&nbsp;<br>Petpro chúng tôi luôn cung cấy các giống mèo đực với nguồn giống thuần chủng khỏe mạnh, đa dạng phong phú, nguồn gốc rõ ràng, được các bác sĩ thú y có kinh nghiệm trực tiếp tuyển chọn, chăm sóc và phòng dịch.như:<br><br>-giống mèo anh lông ngắn,mèo anh lông dài.<br><br>-Mèo Ba tư,mèo Exotic,mèo bengal.<br><br>-Mèo không lông Sphynx,mèo Ai Cập,mèo Xiêm,Nga...<br><br>- Và một số giống mèo khác hiện nay.</td><td style="width:199px;height:199px"><div style="display:block;text-align:left"><img border="0" src="~/Asset/images1/pg1.png" style="width:100%;display:block;margin-right:auto;text-align:left"></div></td></tr></tbody></table></font></div></div></font></span></b></div><div style="font-size:13.3333px">
                                                                                <font size="3">
                                                                                    <br>
                                                                                </font>
                                                                            </div>
                                                                            <div>
                                                                                <b>
                                                                                    <span style="font-weight:normal">
                                                                                        <h4 style="text-align:center;margin:0px;padding:3px 5px;border-style:none;border-width:initial;border-color:initial;color:rgb(255,255,255)!important;background-color:rgb(15,57,94)!important;background-repeat:no-repeat!important"><a name="TOC-D-CH-V-PH-I-GI-NG"></a><font face="times new roman, serif" size="3">Dịch Vụ Phối Giống Cho Nhím Kiểng</font></h4>
                                                                                        <div style="font-size:13.3333px"><div style="font-family:times new roman,serif;font-size:13.3333px"><font size="3"><table border="0" cellspacing="0" style="border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:639px;height:200px">&nbsp;<br><table border="0" cellspacing="0" style="background-color:transparent;border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:639px;height:200px">Phòng khám thú y của chúng tôi còn cung cấp các dịch vụ phối giống cho nhím kiểng:<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Nhím bạn nào đến tuổi lấy chồng thì hãy đến với dịch vụ phối giống nhím của Petpro nhé ! <br><br><span>&nbsp;&nbsp; &nbsp;</span>- Ưu điểm: tiết kiệm kinh phí chăm sóc nhím đực (y) :) Gía cả rất bèo: 100k/2 tuần ( tiền phối giống + tiền dưỡng thai 2 tuần ) Sau khi phối giống các bạn đem nhím về chăm 3 tuần nữa là có baby nhé .</td></tr></tbody></table></td><td style="width:200px;height:200px"><div style="display:block;text-align:left"><img border="0" src="~/Asset/images1/pg2.png" style="width:100%;display:block;margin-right:auto;text-align:left"></div></td></tr></tbody></table></font></div></div><div style="font-size:13.3333px">
                                                                                            <h4 style="text-align:center;margin:0px;padding:3px 5px;border-style:none;border-width:initial;border-color:initial;color:rgb(255,255,255)!important;background-color:rgb(15,57,94)!important;background-repeat:no-repeat!important"><a name="TOC-NU-I-GI-V-V-N-CHUY-N-TH-C-NG"></a><font face="times new roman, serif" size="3">Dịch Vụ Phối Giống Cho Một Số Loài Khác </font></h4>
                                                                                        </div><div style="font-size:13.3333px"><div style="font-family:times new roman,serif;font-size:13.3333px"><font size="3"><table border="0" cellspacing="0" style="border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:639px;height:200px">&nbsp;<br><span>&nbsp;&nbsp; &nbsp;</span>- Chúng tôi nhận chăm sóc và phối giống cho một số loài thú cưng khác như:.<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Rắn ngô Corn Snake,Rùa bụng vàng Yellow Belly Turtle,Trăn bóng – Ball Python.<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Tắc kè hoa Veiled Chameleon,Rồng Nam Mỹ Green Iguana,Ếch bò châu Phi – Afican Bull Frog...<br><br><span>&nbsp; &nbsp; - Thằn lằn da báo Leopard Gecko nhập Thái Lan,Hamster.</span><br><br>Với sự chăm sóc tận tình chu đáo, chuồng trại thoáng mát biệt lập, cùng dịch vụ thú y thường trực hỗ trợ, chúng tôi tự hào đem lại dịch vụ phối giống cho thú cưng một cách tốt nhất, giúp bạn luôn yên tâm khi đến với petpro.</td><td style="width:200px;height:200px"><div style="display:block;text-align:left"><img border="0" src="~/Asset/images1/pg3.png" style="width:100%"></div></td></tr></tbody></table><br></font></div></div>
                                                                                    </span>
                                                                                </b>
                                                                            </div>
                                                                            <div dir="ltr"></div>
                                                                            <div dir="ltr"></div>
                                                                            <div dir="ltr">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                    </td>



                                                                </tr>
                                                            </tbody>
                                                        </table><div class="sites-layout-tile sites-tile-name-footer">
                                                            <div dir="ltr">
                                                                <div>


                                                                    <script type="text/javascript">
                                                                            //<![CDATA[
                                                                            JOT_recentAnnouncementPreload~/Asset/images = function () {
                                                                                var loader = new gsites.util.ImagePreloader();
                                                                                loader.init('sites-canvas-main-content', 'sites-recentannouncements-thumbnails');
                                                                            };
                                                                            JOT_addListener('pageLoaded', JOT_recentAnnouncementPreload~/Asset/images);
                                                                            JOT_addListener('completeEditRender', JOT_recentAnnouncementPreload~/Asset/images);
                                                                                                                                                //]]>
                                                                    </script>
                                                                </div><br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="sites-canvas-bottom-panel">
                                                <div id="sites-attachments-container">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            @*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Sản Phẩm</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>

                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP01">Thời Trang Cho Chó Mèo</a>
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP02">Dụng Cụ Hàng Ngày</a>
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP03">Thức Ăn Cho Chó Mèo</a>
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP04">Các Loại Thuốc Cho Chó Mèo</a>
                            </li>

                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Các Cơ Sở PetPro</h2>
                    </div>
                    <div class="pt-sm-10 pb-sm-15 pb-xs-15">

                        <h6 style="padding-top:1em">Thú-Y Petpro 1:</h6>
                        <span>Address:</span><a href="https://map.coccoc.com/map/13233965271225801"><span style="color:#0094ff">192/7 Phú Thọ Hòa, P. Phú Thọ Hòa, Q. Tân Phú, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0913 949 041"><span style="color:#0094ff">0913 949 041</span></a><a href="tel:02838 612977">-<span style="color:#0094ff">(028) 38 612977</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 2:</h6>
                        <span>Address:</span><a href="https://map.coccoc.com/map/136593830672798"><span style="color:#0094ff">387-389 Cộng Hòa, P. 13, Q. Tân Bình, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0917 710 311"><span style="color:#0094ff">0917 710 311</span></a><a href="tel:02862 972 290">-<span style="color:#0094ff">(028) 62 972 290</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 3:</h6>
                        <span>Address:</span><a href="https://map.coccoc.com/map/1235125498726361"><span style="color:#0094ff">111 Trường Chinh, P. 12 Q. Tân Bình TP. HCM</span></a>
                        <br />Phone:<a href="tel:0916 219 211"><span style="color:#0094ff">0916 219 211</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 4:</h6>
                        <span>Address:</span><a href="https://www.google.com/search?rlz=1C1SQJL_enVN866VN866&tbm=lcl&ei=-XS1XqPfA4StoAS0gL34Dg&q=216+Nguy%E1%BB%85n+Th%E1%BB%8B+T%C3%BA%2C+P.+B%C3%ACnh+H%C6%B0ng+H%C3%B2a+B%2C+Q.+B%C3%ACnh+T%C3%A2n%2C+TP.+HCM&oq=216+Nguy%E1%BB%85n+Th%E1%BB%8B+T%C3%BA%2C+P.+B%C3%ACnh+H%C6%B0ng+H%C3%B2a+B%2C+Q.+B%C3%ACnh+T%C3%A2n%2C+TP.+HCM&gs_l=psy-ab.3..0i333k1.73375.73375.0.75657.1.1.0.0.0.0.334.334.3-1.1.0....0...1c.1.64.psy-ab..0.1.333....0.rDvdRVBRSJk#rlfi=hd:;si:13989375317418328690;mv:[[10.815522377319029,106.58969603206295],[10.81516242268097,106.58932956793707]]"><span style="color:#0094ff">216 Nguyễn Thị Tú, P. Bình Hưng Hòa B, Q. Bình Tân, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0912 219 211"><span style="color:#0094ff">0912 219 211</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 5:</h6>
                        <span>Address:</span><a href="https://www.foody.vn/ho-chi-minh/petpro-shop-cho-thu-cung-kinh-duong-vuong"><span style="color:#0094ff">493 Đường Kinh Dương Vương, Khu Phố 6, Phường An Lạc, Quận Bình Tân, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0911 368 041"><span style="color:#0094ff">0911 368 041</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 6:</h6>
                        <span>Address:</span><a href="https://www.foody.vn/vung-tau/petpro-shop-cho-thu-cung-nguyen-an-ninh/nearby"><span style="color:#0094ff">383 Đường Nguyễn An Ninh, Khu Phố 6, Phường 9, TP. Vũng Tàu, Bà Rịa – Vũng Tàu</span></a>
                        <br />Phone:<a href="tel:0919 949 041"><span style="color:#0094ff">0919 949 041</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>


                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Nhà Sản Xuất</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX01">Royal canin</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX02">Fitmin</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX03">Cat Eye</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX04">Whiskas</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX05">Meo-O</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX06">CityZoo</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX07">Forcans</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX08">Pedigree</a></li>

                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>











