
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="container">

    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Asset/images1/cssk.png" alt="First slide" title="Thú Cưng PETPRO" width="3000" height="3000" />
            <!-- Static Header -->
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                </div>
            </div><!-- /header-text -->
        </div>
    </div>
</div>



