
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Header Area End Here -->
<!-- Begin Li's Breadcrumb Area -->
@*<div class="breadcrumb-area">*@
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Liên Hệ", "Index", "LienHe")</li>
            </ul>
        </div>
    </div>
@*</div>*@
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Contact Main Page Area -->
<div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">
    <div class="container mb-60">
        <div id="google-map">
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.323366714978!2d106.622937!3d10.785953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4d770c4260517002!2zQuG7h25oIFZp4buHbiBUaMO6IFkgUGV0UHJvIC0gQ2hpIE5ow6FuaCBRLlTDom4gUGjDug!5e0!3m2!1svi!2s!4v1584877987644!5m2!1svi!2s" @*width="1000" height="auto"*@ frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                <div class="contact-page-side-content">
                    <h3 class="contact-page-title">Thông Tin Liên Hệ</h3>
                    <p class="contact-page-message mb-25">Bệnh Viện PETPRO_ Chuyên cung cấp các dịch vụ và sản phẩm dành cho thú cưng.</p>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-fax"></i> Address</h4>
                        <p>192/7 Phú Thọ Hòa, P. Phú Thọ Hòa, Q. Tân Phú, TP. HCM</p>
                    </div>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-phone"></i> Phone</h4>
                        <p>Mobile: (028) 38 612977</p>
                        <p>Hotline: 0913 949 041</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <h4><i class="fa fa-facebook"></i> Facebook</h4>
                        <a href="https://www.facebook.com/thuypetpro.com.vn/">www.facebook.com/thuypetpro.com.vn</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="contact-form-content pt-sm-55 pt-xs-55">
                    <h3 class="contact-page-title">Tell Us Your Message</h3>
                    <div class="contact-form">
                        <form id="contact-form" action="http://demo.hasthemes.com/limupa-v3/limupa/mail.php" method="post">
                            <div class="form-group">
                                <label>Your Name <span class="required">*</span></label>
                                <input type="text" name="customerName" id="customername" required>
                            </div>
                            <div class="form-group">
                                <label>Your Email <span class="required">*</span></label>
                                <input type="email" name="customerEmail" id="customerEmail" required>
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" name="contactSubject" id="contactSubject">
                            </div>
                            <div class="form-group mb-30">
                                <label>Your Message</label>
                                <textarea name="contactMessage" id="contactMessage"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" id="submit" class="li-btn-3" name="submit">send</button>
                            </div>
                        </form>
                    </div>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Main Page Area End Here -->
<!-- Begin Footer Area -->


