
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<div class="breadcrumb-area">*@
<div class="container">
    <div class="breadcrumb-content">
        <ul>
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>@Html.ActionLink("Câu Chuyện PetPro", "Index", "CauChuyenPetPro")</li>
        </ul>
    </div>
</div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
@*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2"> 
                <div id="right-area">



                    <article id="post-2805" class="post-2805 page type-page status-publish hentry">


                        <h3 class="entry-title main_title text-center">Câu Chuyện Về PetPro</h3>


                        <div class="entry-content">

                            <p class="has-text-color has-very-light-gray-color"><span style="color: #0000ff;">Ước muốn cứu sống Keeper (con mực) của nữ sinh 18 tuổi đang học tại trường Nguyễn Thượng Hiền đã thôi thúc cô gái có khuôn mặt tròn trĩnh, dáng người thấp bé chọn ngành Thú y thô cứng – nặng nhọc.</span></p>



                            <p><br><span style="color: #0000ff;"> Lúc bấy giờ thời điểm của năm 1992, thú cưng chưa được chăm sóc yêu thương, con Keeper yêu quý của cô bị tiêu chảy ra máu suốt 2 ngày trời, mà không tìm ra được 1 phòng khám thú y nào chuyên cứu chữa thú cưng, sang đến ngày thứ 3 cũng tìm được 1 chú đang hành nghề thú – y dạo thường hay thiến heo, chích thuốc cho trâu, bò, đến điều trị cho Keeper, khi đến ông chỉ nhìn 1 cái rồi, xong rút ra 3 mũi thuốc trong ống kim to đùng chích cho em, không thăm khám hỏi han dặn dò gì hết, sau khi ông ra về được 1 giờ thì em Keeper cũng ra đi…thương tiếc, tuyệt vọng, uất tức…đã thôi thúc cô nữ sinh <strong>Thái Thị Mỹ Hạnh</strong> thi tuyển vào <strong>Trường Đại Học Nông Lâm</strong> chuyên ngành BSTY</span></p>



                            <p>S<span style="color: #0000ff;">uốt 5 năm học đại học cô không ngừng đọc sách về động vật, hiểu về tập tính, bản năng, cách sinh tồn của từng giống chó… những kiến thức cơ bản này đã giúp cô tiếp cận được hầu hết các con chó dù là hung hăng đến đâu, khó gần đến mấy cô cũng vuốt ve được và chịu nằm yên cho cô cứu chữa.</span></p>



                            <p><span style="color: #0000ff;">Một điều hiếm có trong suốt 20 năm hành nghề cô chưa lần nào bị chó cắn, do cô hiểu về chúng một cách sâu sắc và yêu thương chúng thật lòng. Từ năm thứ 2 cô đã tình nguyện đi tiêm phòng dại cho chó trong thành phố, năm thứ 3 cô đã xin được chân thực tập tại Chi Cục Thú Y Tp (187 Lý Chính Thắng, Quận 3) và đến năm thứ 5 cô làm đề tài tốt nghiệp về Tình Hình Nhiễm Bệnh Lepto trên đàn chó thành phố.</span></p>



                            <p><br><span style="color: #0000ff;"> Sau khi tốt nghiệp Bs cô đã bén duyên ngay với nghề, phòng khám đầu tiên được ra đời năm 1998 tại: 192/7 Phú Thọ Hòa, Quận Tân Phú.</span></p>



                            <div class="wp-block-image"><figure class="wp-block-image size-large"><img src="https://2.bp.blogspot.com/-_co8UaqTo_4/WYLdxYF8mSI/AAAAAAAAAAM/tFJAQI6mOucB3MzTRz16P5CrDxr9Q-NyQCLcBGAs/w1200-h630-p-k-no-nu/b%25E1%25BB%2587nh%2Bvi%25E1%25BB%2587n%2Bth%25C3%25BA%2Bc%25C6%25B0ng%2Bchuy%25C3%25AAn%2Bnghi%25E1%25BB%2587p%2Bt%25E1%25BA%25A1i%2BTPHCM.jpg" alt="" class="wp-image-3041" srcset="https://2.bp.blogspot.com/-_co8UaqTo_4/WYLdxYF8mSI/AAAAAAAAAAM/tFJAQI6mOucB3MzTRz16P5CrDxr9Q-NyQCLcBGAs/w1200-h630-p-k-no-nu/b%25E1%25BB%2587nh%2Bvi%25E1%25BB%2587n%2Bth%25C3%25BA%2Bc%25C6%25B0ng%2Bchuy%25C3%25AAn%2Bnghi%25E1%25BB%2587p%2Bt%25E1%25BA%25A1i%2BTPHCM.jpg" width="848px" height="auto"></figure></div>



                            <p><em><span style="color: #0000ff;">Ảnh: gia đình Petpro Tân Phú.</span></em></p>



                            <p><span style="color: #0000ff;"> Sau 10 năm làm việc tại Chi Cục Thú Y Tp, sinh được 2 con và lấy được bằng Thạc sĩ với đề tài Thụ Tinh Nhân Tạo Trên Chó, Bs Hạnh đã mạnh dạng khai trương thêm một phòng khám thứ 2 vào năm 2007 tại: 389-387 Cộng Hòa, Phường 13, Quận Tân Bình và tên PetPro được ra đời lúc bấy giờ, do 1 người bạn thân tên Bích cũng là BSTY đặt giúp.</span></p>



                            <p><br><span style="color: #0000ff;"> Rồi đến năm&nbsp;2009 <strong>Bs</strong> <strong>Thái Thị Mỹ Hạnh</strong> lại cho ra đời thêm một phòng khám PetPro 3 tại: 186 Trường Chinh, Phường 12, Quận Tân Bình. Nay đổi thành 111 Trường Chinh, Phường 12, Quận Tân Bình.</span></p>



                            <p><br><span style="color: #0000ff;"> Nối tiếp thành công phòng khám PetPro 4 được ra đời vào năm 2011 tại 108 Nguyễn Thị Tú, Quận Bình Tân. Điều đáng nói là trong suốt thời gian này tăng trưởng bình quân của PetPro luôn đạt 20% so với năm trước, đây là điều không dễ duy trì ở những doanh nghiệp nhỏ.</span></p>



                            <p><br><span style="color: #0000ff;"> Không bằng lòng với những gì đã đạt được <strong>Bs Thái Thị Mỹ Hạnh</strong> lặn lội đi học, tham gia nhiều khóa đào tạo với các giáo sư Bs nổi tiếng trên thế giới từ Pháp, Anh, Mỹ, và giao lưu với các Bs trong khu vực châu Á qua các chuyến đi training, thực tập tại bệnh viện, ở Thái Lan, Philippin, Malysia, Úc, Mỹ đã thôi thúc sứ mệnh nâng cao sức khỏe cho thú cưng Việt Nam trở nên cháy bỏng hơn</span></p>



                            <p><span style="color: #0000ff;"><strong>Bs Thái Thị Mỹ Hạnh</strong>&nbsp;đã mạnh dạng trang bị máy móc hiện đại để phục vụ cho chẩn đoán thú – y: siêu âm, xét nghiệm máu, test chẩn đoán nhanh, máy X-Quang, máy gây mê bay hơi và trang bị thuốc men dồi dào hơn để cứu chữa được nhiều loại bệnh mà trước đây phải bỏ cuộc. Sự đầu tư này làm cho uy tín PetPro ngày càng cao, thú bệnh ngày một đông quy mô phòng khám không đủ sức đáp ứng buộc <strong>Bs Thái Thị Mỹ Hạnh</strong> mở rộng nâng cấp thành 4 bệnh viện vào năm 2016.</span></p>



                            <p><br><span style="color: #0000ff;"> Đến cuối 2017 đầu 2018 bệnh viện PetPro đã xây dựng thành công hệ thống quản lý chất lượng đạt chuẩn ISO, là bệnh viện thú y đầu tiên trong cả nước được tổ chức NQA – Anh Quốc chứng nhận theo tiêu chuẩn số: 9001-2015</span></p>



                            <div class="wp-block-image" style="text-align:center"><figure class="aligncenter"><img src="https://thuypetpro.com.vn/wp-content/uploads/2018/04/GIAY-CHUAN-ISO-BENH-VIEN-THU-Y-PET-PRO-e1524219030318-214x300.jpg" alt="" class="wp-image-2900" srcset="https://thuypetpro.com.vn/wp-content/uploads/2018/04/GIAY-CHUAN-ISO-BENH-VIEN-THU-Y-PET-PRO-e1524219030318-214x300.jpg 214w, https://thuypetpro.com.vn/wp-content/uploads/2018/04/GIAY-CHUAN-ISO-BENH-VIEN-THU-Y-PET-PRO-e1524219030318-480x674.jpg 480w, https://thuypetpro.com.vn/wp-content/uploads/2018/04/GIAY-CHUAN-ISO-BENH-VIEN-THU-Y-PET-PRO-e1524219030318.jpg 640w" sizes="(max-width: 214px) 100vw, 214px"></figure></div>



                            <p><span style="color: #0000ff;"></span></p>



                            <p><span style="color: #0000ff;"><em style="text-transform: initial;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ảnh: chứng nhận theo tiêu chuẩn số: 9001-2</em></span><span style="color: #0000ff;"><em style="text-transform: initial;">015.</em></span></p>



                            <div class="wp-block-image" style="text-align:center"><figure class="aligncenter"><img src="https://thuypetpro.com.vn/wp-content/uploads/2018/06/chuan-iso-thu-y-petpro-218x300.png " alt="" class="wp-image-2914"></figure></div>



                            <p><span style="color: #0000ff;"></span></p>



                            <div style="text-align:center"><p><span style="color: #0000ff;"><em style="text-transform: initial;">Ảnh: chứng nhận theo tiêu chuẩn số: 9001-2</em></span><span style="color: #0000ff;"><em style="text-transform: initial;">015, (English language).</em></span></p></div>



                            <p><span style="color: #0000ff;"> Và giờ đây vào tháng 10.4.2018 chúng tôi lại hân hạnh thông báo khai trương bệnh viện thú y PetPro 5 tại : 493 Kinh Dương Vương, Phường An Lạc, Quận Bình Tân. Với tập thể lên đến 60 nhân sự.</span></p>



                            <p><br><span style="color: #0000ff;"> Mặc dù chúng tôi không có những phát minh vĩ đại, nhưng chúng tôi vẫn thành công bằng sự nỗ lực, sự vươn lên không ngừng nghỉ làm thay đổi diện mạo ngành thú y Tp, làm cho nó đàng hoàng hơn, quy chuẩn hơn. </span></p>



                            <p><span style="color: #0000ff;">Và niềm vui lớn nhất là chúng tôi cứu được nhiều bệnh thú hơn, cung cấp nhiều giải pháp chăm sóc, nuôi dưỡng bảo vệ sức khỏe cho cộng đồng dần dần xóa đi tiếng rên rỉ đau đớn nhường chỗ cho tiếng sủa reo mừng khi vui đùa cùng chủ. …Đó là sứ mệnh của chúng tôi.</span></p>



                            <div class="wp-block-image"><figure class="wp-block-image size-large"><img src="https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-1024x683.jpg" alt="" class="wp-image-3041" srcset="https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-980x653.jpg 980w, https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-480x320.jpg 480w" width="848px" height="auto"></figure></div>



                            <p><em><span style="color: #0000ff;">Ảnh: gia đình Petpro An Lạc.</span></em></p>
                            <div style="display: none;" class="kk-star-ratings kksr-valign-bottom kksr-align-right kksr-disabled" data-id="2805" data-slug="">
                                <div class="kksr-stars">
                                    <div class="kksr-stars-inactive">
                                        <div class="kksr-star" data-star="1">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="2">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="3">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="4">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="5">
                                            <div class="kksr-icon"></div>
                                        </div>
                                    </div>
                                    <div class="kksr-stars-active">
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kksr-legend">
                                    <span class="kksr-muted"></span>
                                </div>
                            </div>
                        </div> <!-- .entry-content -->


                    </article> <!-- .et_pb_post -->



                </div>

                <div class="row text-center"></div>

            </div>

@*---------------------------------------------------------------------------------------------------------------------------------------*@

           
            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="# ">Prime Video</a>
                                <ul>
                                    <li><a href="#">All Videos</a></li>
                                    <li><a href="#">Blouses</a></li>
                                    <li><a href="#">Evening Dresses</a></li>
                                    <li><a href="#">Summer Dresses</a></li>
                                    <li><a href="#">T-Rent or Buy</a></li>
                                    <li><a href="#">Your Watchlist</a></li>
                                    <li><a href="#">Watch Anywhere</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Computer</a>
                                <ul>
                                    <li><a href="#">TV &amp; Video</a></li>
                                    <li><a href="#">Audio &amp; Theater</a></li>
                                    <li><a href="#">Camera, Photo</a></li>
                                    <li><a href="#">Cell Phones</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Video Games</a></li>
                                    <li><a href="#">Wireless Speakers</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Electronics</a>
                                <ul>
                                    <li><a href="#">Amazon Home</a></li>
                                    <li><a href="#">Kitchen &amp; Dining</a></li>
                                    <li><a href="#">Bed &amp; Bath</a></li>
                                    <li><a href="#">Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner (10)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#"> Studio Design (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Size</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Color</h5>
                        <div class="color-categoriy">
                            <form action="#">
                                <ul>
                                    <li><span class="white"></span><a href="#">White (1)</a></li>
                                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
                        <h5 class="filter-sub-titel">Dimension</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>

