
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<div class="breadcrumb-area">*@
<div class="container">
    <div class="breadcrumb-content">
        <ul>
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>@Html.ActionLink("Bảo Hiểm Sức Khỏe", "Index", "BaoHiemSucKhoe")</li>
        </ul>
    </div>
</div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            @*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <div id="left-area">
                    <article id="post-2918" class="et_pb_post post-2918 post type-post status-publish format-standard has-post-thumbnail hentry category-dich-vu">
                        <div class="et_post_meta_wrapper">
                            <h3 class="entry-title text-center">Bảo Hiểm Sức Khỏe Thú Cưng</h3>

                            <p class="post-meta"> bởi <span class="author vcard"><a href="https://thuypetpro.com.vn/author/trannam" title="Các bài đăng của trannam" rel="author">trannam</a></span> | <span class="published">Th6 14, 2018</span> | <a href="https://thuypetpro.com.vn/./dich-vu" rel="category tag">Dịch Vụ</a></p><img src="https://thuypetpro.com.vn/wp-content/uploads/2018/06/BAO-HIEM-THU-CUNG.jpg" alt="Bảo Hiểm Sức Khỏe Thú Cưng" class="" width="848" height="auto" srcset="https://thuypetpro.com.vn/wp-content/uploads/2018/06/BAO-HIEM-THU-CUNG.jpg 842w, https://thuypetpro.com.vn/wp-content/uploads/2018/06/BAO-HIEM-THU-CUNG-480x298.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 842px, 100vw">
                        </div> <!-- .et_post_meta_wrapper -->

                        <div class="entry-content">
                            <p>Ngày nay ai cũng thừa nhận thú cưng là thành viên trong gia đình, mong muốn chúng được hưởng các quyền lợi về chăm sóc sức khỏe như con người là xu hướng trong cách chơi thú cảnh của nhiều người yêu động vật. Để&nbsp; đáp ứng quyền của thú cưng Pet-Pro cho ra đời dịch vụ mới: <strong>Bảo hiểm sức khỏe thú cưng</strong>. Với dịch vụ này, Pet-Pro sẽ giúp quý thân chủ có thể kéo dài niềm vui sống cùng chúng và mang lại sức khỏe an toàn cho cả 2.</p>
                            <p>Theo Hiệp Hội Bảo Vệ Động Vật Thế Giới “<strong>The World Society for the Protection of Animals</strong>” (WSPA) thú cưng trong 12 tháng đầu đời, muốn được khỏe mạnh phải tuân thủ đầy đủ liệu trình sau đây:</p>
                            <ul>
                                <li>3 lần tiêm ngừa</li>
                                <li>6 lần tẩy giun</li>
                                <li>3 lần phòng ngoại kí sinh (ve, bọ chét)</li>
                                <li>Đồng thời tái chủng định kỳ hàng năm</li>
                            </ul>
                            <p>Được như thế thì sức khỏe thú cưng sẽ được bảo vệ 99% khỏi bệnh truyền nhiễm do virus.</p>
                            <p><span style="color: #0000ff;"><strong>Dịch vụ bảo hiểm sức khỏe thú cưng gồm những gì?</strong></span></p>
                            <p>Nhằm bảo về sức khỏe toàn diện cho thú cưng, Thú Y Pet-Pro đưa ra các gói dịch vụ bảo hiểm như sau</p>
                            <p><span style="color: #ff0000;"><strong>Gói A1: Combo Basic</strong></span></p>
                            <p>Mức phí: 2.000.000 VNĐ</p>
                            <p>Thời gian: 1 năm</p>
                            <p>Quyền lợi</p>
                            <ul>
                                <li>Được thực hiện 3 lần chủng ngừa, 6 lần tẩy giun, 3 lần phòng ngoài ký sinh.</li>
                                <li>Miễn phí xét nghiệm sinh lý máu trước khi chích ngừa và khi bị bệnh phải nhập viện.</li>
                                <li>Được giảm 50% viện phí khi bị bệnh do virus gây ra.</li>
                                <li>Được cấp thẻ VIP, bảo vệ thú cưng trong 12 tháng đối với bệnh do virus.</li>
                                <li>Cam kết phục vụ bạn 24/7 bất cứ khi nào bạn cần kể cả chủ nhật, lễ, tết.</li>
                            </ul>
                            <p><span style="color: #ff0000;"><strong>Gói A2: Combo Basic</strong></span></p>
                            <p>Mức phí: 5.000.000 VNĐ</p>
                            <p>Thời gian: 5 năm</p>
                            <p>Quyền lợi:</p>
                            <ul>
                                <li>Được thực hiện 7 lần chủng ngừa, 16 lần tẩy giun, 15 lần phòng ngoài ký sinh.</li>
                                <li>Miễn phí xét nghiệm sinh lý máu trước khi chích ngừa hàng năm và khi bị bệnh phải nhập viện.</li>
                                <li>Được giảm 75 % viện phí khi bị bệnh do virus gây ra.</li>
                                <li>Được cấp thẻ VIP, bảo vệ thú cưng trong 5 năm , đối với bệnh do virus.</li>
                                <li>Cam kết phục vụ bạn 24/7 bất cứ khi nào bạn cần kể cả chủ nhật, lễ, tết.</li>
                            </ul>
                            <p><span style="color: #ff0000;"><strong>Gói B1: Combo Luxury</strong></span></p>
                            <p>Mức phí: 5.500.000 VNĐ</p>
                            <p>Thời gian: 1 năm</p>
                            <p>Quyền lợi</p>
                            <ul>
                                <li>Được thực hiện 3&nbsp; lần chủng ngừa, 6 lần tẩy giun, 3 lần phòng ngoài ký sinh. Với thuốc cao cấp của các thương hiệu nổi tiếng Châu Âu.</li>
                                <li>Miễn phí xét nghiệm sinh lý máu, xét nghiệm carre, parvo, khi chích ngừa và khi bị bệnh phải nhập viện.</li>
                                <li>Được giảm 100 % viện phí khi bị bệnh do virus.</li>
                                <li>Được cấp thẻ VIP, bảo vệ thú cưng trong 1 năm, đối với bệnh do virus.</li>
                                <li>Cam kết phục vụ bạn 24/7 bất cứ khi nào bạn cần kể cả chủ nhật, lễ, tết.</li>
                            </ul>
                            <p><span style="color: #ff0000;"><strong>Gói B2: Combo Luxury</strong></span></p>
                            <p>Mức phí: 12.000.000 VNĐ</p>
                            <p>Thời gian: 5 năm</p>
                            <p>Quyền lợi</p>
                            <ul>
                                <li>Được thực hiện 7 lần chủng ngừa, 16 lần tẩy giun, 15 lần phòng ngoài ký sinh. Với thuốc cao cấp của các thương hiệu nổi tiếng Châu Âu.</li>
                                <li>Miễn phí xét nghiệm sinh lý máu, xét nghiệm carre, parvo, trước khi chích ngừa và đo lại kháng thể carre, parvo trước khi chích ngừa hàng năm.</li>
                                <li>Được giảm 100 % viện phí khi bị bệnh do virus.</li>
                                <li>Được cấp thẻ VIP, bảo vệ thú cưng trong 5 năm đối với bệnh do virus.</li>
                                <li>Cam kết phục vụ bạn 24/7 bất cứ khi nào bạn cần kể cả chủ nhật, lễ, tết.</li>
                            </ul>
                            <p>Với hơn 20 năm kinh nghiệm trong nghề và tình yêu dành cho thú cưng, Thú Y Pet-Pro mong muốn có thể bảo vệ tối đa cho thú cưng nhà bạn.</p>
                            <p>Hãy tham gia những gói dịch vụ của chúng tôi để nâng cao sức khỏe thú cưng, sức khỏe cộng đồng nhé!</p>
                            <p>Hãy gọi qua hotline: 0919.919.041 để tìm hiểu về cách mới bảo vệ cho thú cưng khỏi bênh truyền nhiễm.</p>
                            <div style="display: none;" class="kk-star-ratings kksr-valign-bottom kksr-align-right kksr-disabled" data-id="2918" data-slug="">
                                <div class="kksr-stars">
                                    <div class="kksr-stars-inactive">
                                        <div class="kksr-star" data-star="1">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="2">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="3">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="4">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="5">
                                            <div class="kksr-icon"></div>
                                        </div>
                                    </div>
                                    <div class="kksr-stars-active">
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kksr-legend">
                                    <strong class="kksr-score">3.3</strong>
                                    <span class="kksr-muted">/</span>
                                    <strong>5</strong>
                                    <span class="kksr-muted">(</span>
                                    <strong class="kksr-count">9</strong>
                                    <span class="kksr-muted">
                                        votes
                                    </span>
                                    <span class="kksr-muted">)</span>
                                </div>
                            </div>
                        </div> <!-- .entry-content -->
                        <div class="et_post_meta_wrapper">
                        </div> <!-- .et_post_meta_wrapper -->
                    </article> <!-- .et_pb_post -->

                </div>

            </div>

            @*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="# ">Prime Video</a>
                                <ul>
                                    <li><a href="#">All Videos</a></li>
                                    <li><a href="#">Blouses</a></li>
                                    <li><a href="#">Evening Dresses</a></li>
                                    <li><a href="#">Summer Dresses</a></li>
                                    <li><a href="#">T-Rent or Buy</a></li>
                                    <li><a href="#">Your Watchlist</a></li>
                                    <li><a href="#">Watch Anywhere</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Computer</a>
                                <ul>
                                    <li><a href="#">TV &amp; Video</a></li>
                                    <li><a href="#">Audio &amp; Theater</a></li>
                                    <li><a href="#">Camera, Photo</a></li>
                                    <li><a href="#">Cell Phones</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Video Games</a></li>
                                    <li><a href="#">Wireless Speakers</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Electronics</a>
                                <ul>
                                    <li><a href="#">Amazon Home</a></li>
                                    <li><a href="#">Kitchen &amp; Dining</a></li>
                                    <li><a href="#">Bed &amp; Bath</a></li>
                                    <li><a href="#">Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner (10)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#"> Studio Design (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Size</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Color</h5>
                        <div class="color-categoriy">
                            <form action="#">
                                <ul>
                                    <li><span class="white"></span><a href="#">White (1)</a></li>
                                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
                        <h5 class="filter-sub-titel">Dimension</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>





