<div class="footer">
    <!-- Begin Footer Static Top Area -->
    <!-- Footer Static Top Area End Here -->
    <!-- Begin Footer Static Middle Area -->
    <div class="footer-static-middle">
        <div class="container">
            <div class="footer-logo-wrap pt-50 pb-35">
                <div class="row">
                    <!-- Begin Footer Logo Area -->
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-logo">
                            <img src="~/Asset/images1/logo2.png" width="350" height="100" alt="Footer Logo">
                            <p class="info">
                                Đến với PetPro các bạn sẽ được đáp ứng đầy đủ các dịch vụ mà ít nơi nào có thể thỏa mãn được từ tư vấn chăm sóc, nuôi dưỡng, chích ngừa lúc còn non, làm đẹp dạy dỗ lúc trưởng thành.
                            </p>
                        </div>
                        <ul class="des">
                            <li>
                                <span>Address: </span>
                                <a href="https://map.coccoc.com/map/13233965271225801">192/7 Phú Thọ Hòa, P. Phú Thọ Hòa, Q. Tân Phú, TP. HCM</a>
                            </li>
                            <li>
                                <span>Phone: </span>
                                <a href="tel:02838 612977">(028) 38 612977</a>
                            </li>
                            <li>
                                <span>Facebook: </span>
                                <a href="https://www.facebook.com/thuypetpro.com.vn/">www.facebook.com/thuypetpro.com.vn</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Footer Logo Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-2 col-md-3 col-sm-6 text-center">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Nhà Sản Xuất</h3>
                            <ul>
                                <li><a>Royal canin</a></li>
                                <li><a>Cat Eye</a></li>
                                <li><a>Whiskas</a></li>
                                <li><a>Meo-O</a></li>
                                <li><a>CityZoo</a></li>
                                <li><a>Forcans</a></li>
                                <li><a>Pedigree</a></li>
                                <li><a>Fitmin</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Block Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-2 col-md-3 col-sm-6 text-center">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Cung Cấp</h3>
                            <ul>
                                <li><a href="#">Dịch Vụ</a></li>
                                <li><a href="#">Thời Trang</a></li>
                                <li><a href="#">Thức Ăn</a></li>
                                <li><a href="#">Dụng Cụ </a></li>
                                <li><a href="#"> Thuốc </a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Block Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-4">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Follow Us</h3>
                            <ul class="social-link">
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="rss">
                                    <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="RSS">
                                        <i class="fa fa-rss"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Begin Footer Newsletter Area -->
                        <div class="footer-newsletter">
                            <h4>Sign up to newsletter</h4>
                            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="footer-subscribe-form validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div id="mc-form" class="mc-form subscribe-form form-group">
                                        <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email" />
                                        <button class="btn" id="mc-submit">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Footer Newsletter Area End Here -->
                    </div>
                    <!-- Footer Block Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Static Middle Area End Here -->
    <!-- Begin Footer Static Bottom Area -->
    <!-- Footer Static Bottom Area End Here -->
</div>
