
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@*<div class="breadcrumb-area">*@
<div class="container">
    <div class="breadcrumb-content">
        <ul>
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>@Html.ActionLink("Khách Sạn", "Index", "KhachSan")</li>
        </ul>
    </div>
</div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            @*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <article id="post-165" class="et_pb_post post-165 post type-post status-publish format-standard has-post-thumbnail hentry category-dich-vu">
                    <div class="et_post_meta_wrapper">
                        <h3 class="entry-title text-center">Khách Sạn Cho Thú Cưng</h3>
                        


                    </div> <!-- .et_post_meta_wrapper -->

                    <div class="entry-content">
                        <p><strong>Khách sạn cho thú cưng</strong> của PetPro, nơi xoa dịu nỗi buồn cho thú cưng của bạn khi phải xa chủ. Nơi chăm sóc thú cưng của bạn tốt như bạn.</p>
                        <h2>Khách sạn cho thú cưng là gì?</h2>
                        <p><strong>Khách sạn cho thú cưng</strong> là dịch vụ cung cấp nơi lưu trú cho thú cưng mỗi khi gia chủ có dịp đi xa mà không có ai chăm sóc thú cưng của mình. Ngoài ra dịch vụ khách sạn cho thú cưng còn nhận giữ giúp những “em thú nuôi” đáng yêu của bạn trong những dịp lễ, tết giúp cho gia đình an tâm vui chơi.</p>
                        <div id="attachment_221" style="width: 480px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-221" class="wp-image-221" src="https://kimipet.vn/wp-content/uploads/2017/04/IMG_5292.jpg" alt="Khách sạn cho thú cưng" width="848px" height="auto"><p id="caption-attachment-221" class="wp-caption-text">Khách sạn cho thú cưng là dịch vụ cung cấp nơi lưu trú cho thú cưng</p></div>
                        <h2>Tiêu chuẩn của <strong>khách sạn cho thú cưng</strong></h2>
                        <div id="attachment_222" style="width: 480px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-222" class="wp-image-222" src="https://kimipet.vn/wp-content/uploads/2019/01/49527158_2104693252925531_269073348837769216_n.png" alt="khách sạn cho thú cưng" width="848px" height="auto"><p id="caption-attachment-222" class="wp-caption-text">Khách sạn thú cưng của PetPro theo chuẩn quy định của tổ chức sức khỏe động vật thế giới</p></div>
                        <p>Theo tổ qui định của Tổ chức sức khỏe động vật thế giới, một khu lưu trú cho thú cưng phải đạt chuẩn sau:</p>
                        <ul>
                            <li>Có hầm chứa phân, chất thải, hầm lắng, hầm phân hủy</li>
                            <li>Hệ thống xử lý không khí</li>
                            <li>Hệ thống xử lý nước thải theo chu trình tự động hóa khử trùng 30 phút/lần.</li>
                            <li>Khí thải trong chuồng được phân ly thành khí không độc Nito và Oxy, sau đó khí này được quạt hút tự động đưa vào đường ống xử lý trước khi thải ra ngoài, trả lại nguồn oxy dồi dào trong khu lưu giữ.</li>
                            <li>Nhiệt độ phải được duy trì ở mức khoảng 25 độ C nhằm mang lại thân nhiệt tốt nhất cho thú nuôi.</li>
                            <li>Độ ẩm phải cân bằng</li>
                        </ul>
                        <h2><strong>Khách sạn cho thú cưng tại Thú Y PetPro</strong></h2>
                        <div id="attachment_223" style="width: 480px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-223" class="wp-image-223" src="https://kimipet.vn/wp-content/uploads/2019/01/49505642_2114760638585459_2177883688514093056_n.jpg" alt="khách sạn cho thú cưng" width="848px" height="auto"><p id="caption-attachment-223" class="wp-caption-text">Không gian ấm cúng dành cho thú cưng</p></div>
                        <p>Bên cạnh những qui định bắt buộc trên, <a href="https://thuypetpro.com.vn/">khách sạn cho thú cưng</a> của bệnh viện Thú Y PetPro còn chú ý đến việc tao ra một không gian ấm cúng với tiếng nhạc du dương nhằm giảm căng thẳng cho thú cưng. Với việc trang bị hệ thống âm nhạc này, thú cưng rất dễ dàng chìm và giấc ngủ.</p>
                        <p style="text-align: center;">Với dịch vụ khách sạn&nbsp;từ bệnh viên Thú Y PetPro, chúng tôi cũng chú ý đến việc trấn an tinh thần cho thú nhạy cảm, làm cho “các em” không còn cảm giác nhờ nhà, lạ chổ. Hệ thống lưu trú này đảm bảo cho thú cung một cảm giác an toàn như đang sống trong vòng tay mẹ, gần gũi nhưng đang ở trong chính ổ của nó.</p>
                        <p>Chúng tôi tự hào là sơ sở được cấp phép đầu tiên đủ điều kiện an toàn vệ sinh cho dịch vụ <strong>khách sạn cho thú cưng.</strong></p>
                        <p><strong><em>* Dịch vụ lưu trú khách sạn</em></strong></p>
                        <p>
                            <em>
                                – Từ 3-5kg: …………………………………………………………………………………………………..120.000đ/ngày<br>
                                –&nbsp;Từ 5-10kg:&nbsp;………………………………………………………………………………………………..170.000đ/ngày<br>
                                –&nbsp;Từ 10 -20kg:&nbsp;……………………………………………………………………………………………..220.000đ/ngày<br>
                                –&nbsp;Trên 20kg:&nbsp;…………………………………………………………………………………………………300.000đ/ngày
                            </em>
                        </p>
                        <p><strong><em>* Dịch vụ khách sạn có huấn luyện và tập thể dục ( được đảm nhận bởi chuyên gia huấn luyện chó cảnh )</em></strong></p>
                        <p>
                            <em>– Từ 3-5kg: …………………………………………………………………………………………………..150.000đ/ngày</em><br>
                            <em>
                                –&nbsp;Từ 5-10kg:&nbsp;………………………………………………………………………………………………..250.000đ/ngày<br>
                                –&nbsp;Từ 10 -20kg:&nbsp;……………………………………………………………………………………………..350.000đ/ngày<br>
                                –&nbsp;Trên 20kg:&nbsp;…………………………………………………………………………………………………400.000đ/ngày
                            </em>
                        </p>
                        <p><strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong><strong><em>&nbsp;&nbsp; &nbsp;Note: Trong các ngày lễ chính và 5 &nbsp;ngày tết Nguyên đáng giá sẽ phụ thu thêm 30 %</em></strong></p>
                        <p>Nếu quí khách có nhu cầu, xin <a href="https://thuypetpro.com.vn">liên hệ với chúng tôi</a> để được phục vụ tốt hơn.</p>

                        <div style="display: none;" class="kk-star-ratings kksr-valign-bottom kksr-align-right kksr-disabled" data-id="165" data-slug="">
                            <div class="kksr-stars">
                                <div class="kksr-stars-inactive">
                                    <div class="kksr-star" data-star="1">
                                        <div class="kksr-icon"></div>
                                    </div>
                                    <div class="kksr-star" data-star="2">
                                        <div class="kksr-icon"></div>
                                    </div>
                                    <div class="kksr-star" data-star="3">
                                        <div class="kksr-icon"></div>
                                    </div>
                                    <div class="kksr-star" data-star="4">
                                        <div class="kksr-icon"></div>
                                    </div>
                                    <div class="kksr-star" data-star="5">
                                        <div class="kksr-icon"></div>
                                    </div>
                                </div>
                                <div class="kksr-stars-active">
                                    <div class="kksr-star">
                                        <div class="kksr-icon"></div>
                                    </div>
                                    <div class="kksr-star">
                                        <div class="kksr-icon"></div>
                                    </div>
                                    <div class="kksr-star">
                                        <div class="kksr-icon"></div>
                                    </div>
                                    <div class="kksr-star">
                                        <div class="kksr-icon"></div>
                                    </div>
                                    <div class="kksr-star">
                                        <div class="kksr-icon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="kksr-legend">
                                <strong class="kksr-score">5</strong>
                                <span class="kksr-muted">/</span>
                                <strong>5</strong>
                                <span class="kksr-muted">(</span>
                                <strong class="kksr-count">1</strong>
                                <span class="kksr-muted">
                                    vote
                                </span>
                                <span class="kksr-muted">)</span>
                            </div>
                        </div>
                    </div> <!-- .entry-content -->
                    <div class="et_post_meta_wrapper">
                        <!-- You can start editing here. -->

                        <section id="comment-wrap">
                            <div id="comment-section" class="nocomments">
                                <!-- If comments are open, but there are no comments. -->

                            </div>

                        </section>
                    </div> <!-- .et_post_meta_wrapper -->
                </article>


            </div>

            @*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="# ">Prime Video</a>
                                <ul>
                                    <li><a href="#">All Videos</a></li>
                                    <li><a href="#">Blouses</a></li>
                                    <li><a href="#">Evening Dresses</a></li>
                                    <li><a href="#">Summer Dresses</a></li>
                                    <li><a href="#">T-Rent or Buy</a></li>
                                    <li><a href="#">Your Watchlist</a></li>
                                    <li><a href="#">Watch Anywhere</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Computer</a>
                                <ul>
                                    <li><a href="#">TV &amp; Video</a></li>
                                    <li><a href="#">Audio &amp; Theater</a></li>
                                    <li><a href="#">Camera, Photo</a></li>
                                    <li><a href="#">Cell Phones</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Video Games</a></li>
                                    <li><a href="#">Wireless Speakers</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Electronics</a>
                                <ul>
                                    <li><a href="#">Amazon Home</a></li>
                                    <li><a href="#">Kitchen &amp; Dining</a></li>
                                    <li><a href="#">Bed &amp; Bath</a></li>
                                    <li><a href="#">Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner (10)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#"> Studio Design (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Size</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Color</h5>
                        <div class="color-categoriy">
                            <form action="#">
                                <ul>
                                    <li><span class="white"></span><a href="#">White (1)</a></li>
                                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
                        <h5 class="filter-sub-titel">Dimension</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>















