
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@*<div class="breadcrumb-area">*@
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Về Chúng Tôi", "Index", "VeChungToi")</li>
            </ul>
        </div>
    </div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
        <div class="container">
        <div class="row">
@*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <div id="left-area">



                    <article id="post-2810" class="post-2810 page type-page status-publish hentry">


                        <h3 class="entry-title main_title text-center">Về Chúng Tôi</h3>


                        <div class="entry-content">

                            <p><span style="color: #000000;">Hệ thống <strong>Bệnh Viện Thú Y PetPro</strong> được thành lập từ năm 1998, đến nay chúng tôi đã có 5 bệnh viện và 5 <strong>PetShop</strong> trải dài qua 3 quận: Tân Bình, Tân Phú, Bình Tân.</span></p>



                            <figure class="wp-block-image size-large"><img src="https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-1024x683.jpg" alt="" class="wp-image-3041" srcset="https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-980x653.jpg 980w, https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-480x320.jpg 480w" width="848px" height="auto"></figure>



                            <p><span style="color: #000000;"><span style="text-transform: initial;">Mục đích của </span><strong style="text-transform: initial;">PetPro</strong><span style="text-transform: initial;"> là mang đến cho thú cưng một dịch vụ y tế chuyên nghiệp, nhằm nâng cao sức khoẻ cho thú cưng, qua đó khơi gợi lòng yêu thương động vật, kết nối với thiên nhiên…&nbsp;</span><br>Tham vọng của chúng tôi là đưa bệnh viện thú y PetPro ngang tầm với các bệnh viện thú – y trong khu vực châu Á. Để làm được điều này chúng tôi không ngừng học hỏi, không ngừng vươn tới cái hay, cái mới để xây dựng một xã hội <strong>ONE HEALTH</strong>&nbsp;cho con người và động vật.</span></p>



                            <figure class="wp-block-image size-large"><img src="https://thuypetpro.com.vn/wp-content/uploads/2018/04/Thu-y-PetPro-khai-truong-phong-kham-05-1024x768.jpg" alt="Thú Y PetPro khai trương phòng khám 05" class="wp-image-2889" srcset="https://thuypetpro.com.vn/wp-content/uploads/2018/04/Thu-y-PetPro-khai-truong-phong-kham-05-1024x768.jpg 1024w, https://thuypetpro.com.vn/wp-content/uploads/2018/04/Thu-y-PetPro-khai-truong-phong-kham-05-980x735.jpg 980w, https://thuypetpro.com.vn/wp-content/uploads/2018/04/Thu-y-PetPro-khai-truong-phong-kham-05-480x360.jpg 480w" width="848px" height="auto"></figure>



                            <p><br><span style="color: #000000;"> Giá trị của chúng tôi được thể hiện qua cách chúng tôi làm việc: tôn trọng khách hàng, yêu thương động vật, tạo động lực gắn kết trong nhân viên và trao cho họ cơ hội để phát triển nghề nghiệp.</span></p>



                            <figure class="wp-block-image size-large"><img src="https://nnts.tvu.edu.vn/wp-content/uploads/2018/08/a1.jpg" alt="" class="wp-image-3041" srcset="https://nnts.tvu.edu.vn/wp-content/uploads/2018/08/a1.jpg" width="848px" height="auto"></figure>



                            <p><br><span style="color: #000000;"> Đến với <strong>PetPro</strong> các bạn sẽ được đáp ứng đầy đủ các dịch vụ mà ít nơi nào có thể thoả mãn được từ tư vấn chăm sóc, nuôi dưỡng, chích ngừa lúc còn non, làm đẹp dạy dỗ lúc trưởng thành, chẩn đoán phòng bệnh lúc về già, chữa trị, phẫu thuật, lưu trú lúc đau yếu, còn đến lúc chia tay với bạn chúng tôi sẽ đưa cún đến nơi an nghỉ cuối cùng, xa hơn nữa nếu các bạn có nhu cầu mang thú cưng đi nước ngoài để học tập, du lịch, định cư chúng tôi cũng lo liệu để cún cưng được chúng sống bên bạn dù bạn có đi đến đâu. Một chu trình được chúng tôi thiết lập cho vòng đời thú cưng không đâu hoàn hảo hơn.</span></p>



                            <p><span style="color: #000000;">Hân hạnh được phục vụ.</span></p>



                            <p><span style="color: #000000;"><strong>Ths. Bs.&nbsp;Thái Thị&nbsp;Mỹ&nbsp;Hạnh</strong></span></p>
                            <div style="display: none;" class="kk-star-ratings kksr-valign-bottom kksr-align-right kksr-disabled" data-id="2810" data-slug="">
                                <div class="kksr-stars">
                                    <div class="kksr-stars-inactive">
                                        <div class="kksr-star" data-star="1">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star" data-star="2">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star" data-star="3">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star" data-star="4">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star" data-star="5">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                    </div>
                                    <div class="kksr-stars-active" style="width: 0px;">
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kksr-legend">
                                    <span class="kksr-muted"></span>
                                </div>
                            </div>
                        </div> <!-- .entry-content -->


                    </article> <!-- .et_pb_post -->



                </div>

                <div class="row text-center"></div>

            </div>

@*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="# ">Prime Video</a>
                                <ul>
                                    <li><a href="#">All Videos</a></li>
                                    <li><a href="#">Blouses</a></li>
                                    <li><a href="#">Evening Dresses</a></li>
                                    <li><a href="#">Summer Dresses</a></li>
                                    <li><a href="#">T-Rent or Buy</a></li>
                                    <li><a href="#">Your Watchlist</a></li>
                                    <li><a href="#">Watch Anywhere</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Computer</a>
                                <ul>
                                    <li><a href="#">TV &amp; Video</a></li>
                                    <li><a href="#">Audio &amp; Theater</a></li>
                                    <li><a href="#">Camera, Photo</a></li>
                                    <li><a href="#">Cell Phones</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Video Games</a></li>
                                    <li><a href="#">Wireless Speakers</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Electronics</a>
                                <ul>
                                    <li><a href="#">Amazon Home</a></li>
                                    <li><a href="#">Kitchen &amp; Dining</a></li>
                                    <li><a href="#">Bed &amp; Bath</a></li>
                                    <li><a href="#">Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner (10)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#"> Studio Design (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Size</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Color</h5>
                        <div class="color-categoriy">
                            <form action="#">
                                <ul>
                                    <li><span class="white"></span><a href="#">White (1)</a></li>
                                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
                        <h5 class="filter-sub-titel">Dimension</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>



