
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@*<div class="breadcrumb-area">*@
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Thú Y Tại Nhà", "Index", "ThuYTaiNha")</li>
            </ul>
        </div>
    </div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            @*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <div class="row">
                    <section class="right-content col-lg-12 col-md-12 col-sm-12 col-xs-12  collection float-right">
                        <div itemscope="" itemtype="http://schema.org/Article">
                            <div class="article-details">
                                <h3 class="article-title text-center"><span itemprop="name">Bác Sĩ Thú Y Tại Nhà</span></h3>
                                <div class="postby">

                                    <i class="fa fa-calendar" aria-hidden="true"></i> 13-10-2019
                                </div>
                                <div class="article-content" itemprop="description">
                                    <p><span style="font-size:20px"><span style="color:#FF0000"><strong><strong>Địa chỉ phòng khám thú y Petpro</strong></strong></span></span></p>

                                    <p><span style="font-size:18px"><span style="color:#FF0000"><strong><strong>Địa Chỉ&nbsp;Cơ Sở 1:</strong></strong></span><strong><strong><span style="color:#FF0000"> </span><span style="color:#0000FF">Số 192/7&nbsp;Phú Thọ Hòa, P. Phú Thọ Hòa, Q. Tân Phú, TP. HCM&nbsp;( Làm Việc 12/24)</span></strong></strong></span></p>

                                    <p><span style="font-size:18px"><span style="color:#FF0000"><strong><strong>Địa Chỉ Cơ Sở 2:</strong></strong></span><strong><strong> <span style="color:#0000FF">387-389 Cộng Hòa, P. 13, Q. Tân Bình, TP. HCM&nbsp;(Làm Việc 12/24)</span></strong></strong></span></p>

                                    <p><strong><span style="font-size:18px">Số Điện Thoại&nbsp;Hotline:<span style="color:#FF0000"> </span><a href="tel:0978899004"><span style="color:#FF0000">0913 949 041</span></a><span style="color:#0000FF"> hoặc </span><a href="tel:0982451183"><span style="color:#FF0000">0917 710 311</span></a><span style="color:#0000FF"> (12/24)</span></span></strong></p>

                                    <p><span style="font-size:16px">Ngày nay thú cưng không chỉ là một con vật nuôi trong gia đình mà chúng đã trở thành một người bạn tri kỷ thực sự, chúng có thể chia sẻ mọi tình cảm đối với những thành viên trong gia đình. Chính vì vậy mà việc chăm sóc sức khỏe cho thú cưng luôn được mọi người chú ý đến. Việc tìm kiếm được một phòng&nbsp;khám thú y&nbsp;chữa bệnh uy tín, chất lượng cho thú cưng là điều mà ai cũng mong muốn tìm được. Chúng tôi được thành lập từ 1998 với&nbsp;những bác sĩ thú y&nbsp;có chuyên môn cao trong lĩnh lực khám chữa bệnh cho thú cưng đồng thời được xây dựng từ chính tình yêu với thú cưng, vì vậy các bạn có thể hoàn toàn tin tưởng khi giao thú cưng cho đội ngũ <strong>bác sĩ thú y&nbsp;</strong>chúng tôi, chúng sẽ được chăm sóc như từ chính bàn tay của bạn.</span></p>

                                    <p><img alt="Phòng khám thú y" src="~/Asset/images1/phong-kham-thu-y.jpg" width="848px" height="auto"></p>

                                    <p><span style="font-size:16px">Với đội ngũ <strong>bác sĩ thú y</strong>&nbsp;có chuyên môn và kinh nghiệm lâu năm, được học tập từ nưới ngoài, và quy trình chăm sóc, khám chữa bệnh khoa học, đảm bảo điều kiện chăm sóc và điều trị tốt nhất cho thú cưng của bạn. Chúng tôi cung cấp giải pháp toàn diện và an toàn chăm sóc sức khỏe bao gồm thú y, phẫu thuật, điều trị nội trú và chăm sóc sắc đẹp cho thú cưng yêu quý của bạn.&nbsp;Luôn đi đầu tại Việt Nam&nbsp;trong việc sử dụng và nhập khẩu các phương pháp điều trị cũng như thuốc điều trị bệnh trên thú y&nbsp;tiên tiến nhất,&nbsp;phòng khám sạch sẽ, có phòng cách ly bệnh truyền nhiễm, phòng xét nghiệm riêng biệt, đội ngũ<strong> bác sĩ thú y </strong>giỏi chuyên môn , yêu động vật và giàu kinh nghiệm được đào tạo chuyên sâu tại đại học nông lâm tphcm, phòng khám thú y chúng tôi cam kết sẽ đem lại dịch vụ khám chữa bệnh thú cưng với giá thành và chất lượng tốt nhất khi bạn tới với chúng tôi</span></p>

                                    <p><span style="font-size:16px"><strong>Các dịch vụ tại phòng khám thú y&nbsp;của chúng tôi bao gồm: </strong></span></p>

                                    <p><span style="font-size:16px">- Khám, chữa bệnh cho chó mèo 12/24 (bó bột, điều trị các bệnh truyền nhiễm thường gặp trên chó mèo như parvo, care, giảm bạch cầu truyền nhiễm, ho cũi chó, điều trị tất các bệnh nội khoa, …)</span></p>

                                    <p><span style="font-size:16px">- Tiêm vacxin, xổ lãi, triệt sản</span></p>

                                    <p><span style="font-size:16px">- Phẫu thuật thẩm mỹ, mổ đẻ</span></p>

                                    <p><span style="font-size:16px">- Siêu âm động vật&nbsp;</span></p>

                                    <p><span style="font-size:16px">-<strong>dịch vụ chăm sóc thú cưng</strong></span></p>

                                    <p><span style="font-size:16px">- Tư vấn chăm sóc động vật</span></p>

                                    <p><span style="font-size:16px">- Test bệnh truyền nhiễm, ký sinh trên chí mèo</span></p>

                                    <p><span style="font-size:16px">- Phòng&nbsp;ngừa ve, rận</span></p>

                                    <p><span style="font-size:16px">- Điều trị bệnh ngoài da, ghẻ, nấm</span></p>

                                    <p><span style="font-size:16px">- Điều trị thú biếng ăn, gầy còm, thiếu chất</span></p>

                                    <p><span style="font-size:16px">- Cấp cứu, lưu chuồng động vật bị bệnh</span></p>

                                    <p><span style="font-size:16px">- Ngoài ra<strong> phòng khám thú y</strong>&nbsp;chúng tôi còn nhận Dịch vụ khám chữa bệnh động vật tại nhà . Nếu quý khách hàng không có điều kiện đến tận nơi thì chỉ cần nhấc máy lên và liên hệ đến phòng khám thú y&nbsp;của chúng tôi, chúng tôi sẽ ngay lập tức cử bác sĩ thú y&nbsp;có mặt tại địa chỉ của bạn để tiến hành khám chữa bệnh kịp thời cho thú cưng nhà bạn.</span></p>

                                    <p><span style="font-size:16px">*Việc khám chữa bệnh cho thú cưng tại trung tâm của chúng tôi đều bắt nguồn từ chính lòng yêu thương đến từ đội ngũ y bác sĩ thú y,&nbsp;chính vì vậy mà qua bao nhiêu năm hành nghề chúng tôi luôn nhận được sự tin tưởng từ phía khách hàng, sự thành công của trung tâm cũng như chính đội ngũ y bác sĩ&nbsp;hiện nay là nhờ vào tâm huyết, cũng như sự tin tưởng từ phía mọi người đến với chúng tôi.</span></p>

                                    <p><span style="font-size:16px">Dịch vụ khám chữa bệnh cho thú cưng tại phòng khám thú y&nbsp;chúng tôi đã và đang không ngừng phát triển nhằm khám và chữa bệnh một cách tốt nhất cho thú cưng của quý khách hàng. Quy mô phòng khám chất lượng, chuyên nghiệp, sạch sẽ, đặc biệt được trang bị các thiết bị kỹ thuật chuyên môn cao cấp, được nhập khẩu từ nước ngoài, đem đến tính chính xác cao trong việc chuẩn đoán và điều trị cho thú cưng.</span></p>

                                    <p><span style="font-size:16px"><strong>Tại sao bạn nên đến với phòng khám thú y của chúng tôi?</strong></span></p>

                                    <p><span style="font-size:16px">+ Đội ngũ <strong>bác sĩ thú y</strong>&nbsp;với chuyên môn cao, được học từ nước ngoài</span></p>

                                    <p><span style="font-size:16px">+ Trang thiết bị phòng khám thú y&nbsp;đầy đủ, hiện đại</span></p>

                                    <p><span style="font-size:16px">+ Sự chăm sóc tận tình bằng chính tình yêu đối với mọi con vật</span></p>

                                    <p><span style="font-size:16px">+ Chi phí thăm khám phù hợp</span></p>

                                    <p><span style="font-size:16px">+ Tác phong làm việc nhanh chóng, tận tình.</span></p>

                                    <p><span style="font-size:16px">+ Ngoài ra chúng tôi thường có các chương trình khám chữa bệnh cho thú cưng hoàn toàn miễn phí vào các ngày trong tuần. Quý khách hàng có thể tham khảo thông tin để có biết được các chương trình đặc biệt nay</span></p>

                                    <p><span style="font-size:16px">Để biết thêm thông tin chi tiết hơn về trung tâm của chúng tôi, quý khách có thể xem thêm thông tin chi tiết trên trang web: http://thuypetpro.com</span></p>

                                    <p><strong>Chúng tôi phục vụ tại một số quận trong thành phố:<span style="color:#0000FF">&nbsp;</span></strong><span style="color:#0000FF"><strong>Quận Tân Phú, quận Tân Bình, quận Bình Tân</strong></span></p>

                                    <p><span style="font-size:16px">&nbsp;hoặc có thể liên hệ trực tiếp với chúng tôi qua hotline:</span></p>

                                    <p><span style="font-size:20px"><span style="color:#FF0000"><strong><strong>Địa chỉ phòng khám thú y ThiThi Pet Clinic</strong></strong></span></span></p>

                                    <p><span style="font-size:18px"><span style="color:#FF0000"><strong><strong>Địa Chỉ&nbsp;Cơ Sở 1:</strong></strong></span><strong><strong><span style="color:#FF0000"> </span><span style="color:#0000FF">Số 192/7&nbsp; Phú Thọ Hòa, P. Phú Thọ Hòa, Q. Tân Phú, TP. HCM&nbsp;( Làm Việc 12/24)</span></strong></strong></span></p>

                                    <p><span style="font-size:18px"><span style="color:#FF0000"><strong><strong>Địa Chỉ Cơ Sở 2:</strong></strong></span><strong><strong> <span style="color:#0000FF">387-389 Cộng Hòa, P. 13, Q. Tân Bình, TP. HCM&nbsp;(Làm Việc 12/24)</span></strong></strong></span></p>

                                    <p><strong><span style="font-size:18px">Số Điện Thoại&nbsp;Hotline:<span style="color:#FF0000"> </span><a href="tel:0978899004"><span style="color:#FF0000"> 0913 949 041 </span></a><span style="color:#FF0000"> hoặc </span><a href="tel:0982451183"><span style="color:#FF0000">0917 710 311</span></a><span style="color:#FF0000"> (12/24)</span></span></strong></p>

                                </div>
                            </div>
                        </div>


                    </section>
                </div>

            </div>

            @*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="# ">Prime Video</a>
                                <ul>
                                    <li><a href="#">All Videos</a></li>
                                    <li><a href="#">Blouses</a></li>
                                    <li><a href="#">Evening Dresses</a></li>
                                    <li><a href="#">Summer Dresses</a></li>
                                    <li><a href="#">T-Rent or Buy</a></li>
                                    <li><a href="#">Your Watchlist</a></li>
                                    <li><a href="#">Watch Anywhere</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Computer</a>
                                <ul>
                                    <li><a href="#">TV &amp; Video</a></li>
                                    <li><a href="#">Audio &amp; Theater</a></li>
                                    <li><a href="#">Camera, Photo</a></li>
                                    <li><a href="#">Cell Phones</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Video Games</a></li>
                                    <li><a href="#">Wireless Speakers</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Electronics</a>
                                <ul>
                                    <li><a href="#">Amazon Home</a></li>
                                    <li><a href="#">Kitchen &amp; Dining</a></li>
                                    <li><a href="#">Bed &amp; Bath</a></li>
                                    <li><a href="#">Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner (10)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#"> Studio Design (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Size</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Color</h5>
                        <div class="color-categoriy">
                            <form action="#">
                                <ul>
                                    <li><span class="white"></span><a href="#">White (1)</a></li>
                                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
                        <h5 class="filter-sub-titel">Dimension</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>



