
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@*<div class="breadcrumb-area">*@
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Về Chúng Tôi", "Index", "VeChungToi")</li>
            </ul>
        </div>
    </div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
        <div class="container">
        <div class="row">
@*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <div id="left-area">



                    <article id="post-2810" class="post-2810 page type-page status-publish hentry">


                        <h3 class="entry-title main_title text-center">Về Chúng Tôi</h3>


                        <div class="entry-content">

                            <p><span style="color: #000000;">Hệ thống <strong>Bệnh Viện Thú Y PetPro</strong> được thành lập từ năm 1998, đến nay chúng tôi đã có 5 bệnh viện và 5 <strong>PetShop</strong> trải dài qua 3 quận: Tân Bình, Tân Phú, Bình Tân.</span></p>



                            <figure class="wp-block-image size-large"><img src="https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-1024x683.jpg" alt="" class="wp-image-3041" srcset="https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-980x653.jpg 980w, https://thuypetpro.com.vn/wp-content/uploads/2019/07/IMG_7982-480x320.jpg 480w" width="848px" height="auto"></figure>



                            <p><span style="color: #000000;"><span style="text-transform: initial;">Mục đích của </span><strong style="text-transform: initial;">PetPro</strong><span style="text-transform: initial;"> là mang đến cho thú cưng một dịch vụ y tế chuyên nghiệp, nhằm nâng cao sức khoẻ cho thú cưng, qua đó khơi gợi lòng yêu thương động vật, kết nối với thiên nhiên…&nbsp;</span><br>Tham vọng của chúng tôi là đưa bệnh viện thú y PetPro ngang tầm với các bệnh viện thú – y trong khu vực châu Á. Để làm được điều này chúng tôi không ngừng học hỏi, không ngừng vươn tới cái hay, cái mới để xây dựng một xã hội <strong>ONE HEALTH</strong>&nbsp;cho con người và động vật.</span></p>



                            <figure class="wp-block-image size-large"><img src="https://thuypetpro.com.vn/wp-content/uploads/2018/04/Thu-y-PetPro-khai-truong-phong-kham-05-1024x768.jpg" alt="Thú Y PetPro khai trương phòng khám 05" class="wp-image-2889" srcset="https://thuypetpro.com.vn/wp-content/uploads/2018/04/Thu-y-PetPro-khai-truong-phong-kham-05-1024x768.jpg 1024w, https://thuypetpro.com.vn/wp-content/uploads/2018/04/Thu-y-PetPro-khai-truong-phong-kham-05-980x735.jpg 980w, https://thuypetpro.com.vn/wp-content/uploads/2018/04/Thu-y-PetPro-khai-truong-phong-kham-05-480x360.jpg 480w" width="848px" height="auto"></figure>



                            <p><br><span style="color: #000000;"> Giá trị của chúng tôi được thể hiện qua cách chúng tôi làm việc: tôn trọng khách hàng, yêu thương động vật, tạo động lực gắn kết trong nhân viên và trao cho họ cơ hội để phát triển nghề nghiệp.</span></p>



                            <figure class="wp-block-image size-large"><img src="https://nnts.tvu.edu.vn/wp-content/uploads/2018/08/a1.jpg" alt="" class="wp-image-3041" srcset="https://nnts.tvu.edu.vn/wp-content/uploads/2018/08/a1.jpg" width="848px" height="auto"></figure>



                            <p><br><span style="color: #000000;"> Đến với <strong>PetPro</strong> các bạn sẽ được đáp ứng đầy đủ các dịch vụ mà ít nơi nào có thể thoả mãn được từ tư vấn chăm sóc, nuôi dưỡng, chích ngừa lúc còn non, làm đẹp dạy dỗ lúc trưởng thành, chẩn đoán phòng bệnh lúc về già, chữa trị, phẫu thuật, lưu trú lúc đau yếu, còn đến lúc chia tay với bạn chúng tôi sẽ đưa cún đến nơi an nghỉ cuối cùng, xa hơn nữa nếu các bạn có nhu cầu mang thú cưng đi nước ngoài để học tập, du lịch, định cư chúng tôi cũng lo liệu để cún cưng được chúng sống bên bạn dù bạn có đi đến đâu. Một chu trình được chúng tôi thiết lập cho vòng đời thú cưng không đâu hoàn hảo hơn.</span></p>



                            <p><span style="color: #000000;">Hân hạnh được phục vụ.</span></p>



                            <p><span style="color: #000000;"><strong>Ths. Bs.&nbsp;Thái Thị&nbsp;Mỹ&nbsp;Hạnh</strong></span></p>
                            <div style="display: none;" class="kk-star-ratings kksr-valign-bottom kksr-align-right kksr-disabled" data-id="2810" data-slug="">
                                <div class="kksr-stars">
                                    <div class="kksr-stars-inactive">
                                        <div class="kksr-star" data-star="1">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star" data-star="2">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star" data-star="3">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star" data-star="4">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star" data-star="5">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                    </div>
                                    <div class="kksr-stars-active" style="width: 0px;">
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon" style="width: px; height: px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kksr-legend">
                                    <span class="kksr-muted"></span>
                                </div>
                            </div>
                        </div> <!-- .entry-content -->


                    </article> <!-- .et_pb_post -->



                </div>

                <div class="row text-center"></div>

            </div>

@*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Sản Phẩm</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>

                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP01">Thời Trang Cho Chó Mèo</a>
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP02">Dụng Cụ Hàng Ngày</a>
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP03">Thức Ăn Cho Chó Mèo</a>
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP04">Các Loại Thuốc Cho Chó Mèo</a>
                            </li>

                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Các Cơ Sở PetPro</h2>
                    </div>
                    <div class="pt-sm-10 pb-sm-15 pb-xs-15">

                        <h6 style="padding-top:1em">Thú-Y Petpro 1:</h6>
                        <span>Address:</span><a href="https://map.coccoc.com/map/13233965271225801"><span style="color:#0094ff">192/7 Phú Thọ Hòa, P. Phú Thọ Hòa, Q. Tân Phú, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0913 949 041"><span style="color:#0094ff">0913 949 041</span></a><a href="tel:02838 612977">-<span style="color:#0094ff">(028) 38 612977</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 2:</h6>
                        <span>Address:</span><a href="https://map.coccoc.com/map/136593830672798"><span style="color:#0094ff">387-389 Cộng Hòa, P. 13, Q. Tân Bình, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0917 710 311"><span style="color:#0094ff">0917 710 311</span></a><a href="tel:02862 972 290">-<span style="color:#0094ff">(028) 62 972 290</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 3:</h6>
                        <span>Address:</span><a href="https://map.coccoc.com/map/1235125498726361"><span style="color:#0094ff">111 Trường Chinh, P. 12 Q. Tân Bình TP. HCM</span></a>
                        <br />Phone:<a href="tel:0916 219 211"><span style="color:#0094ff">0916 219 211</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 4:</h6>
                        <span>Address:</span><a href="https://www.google.com/search?rlz=1C1SQJL_enVN866VN866&tbm=lcl&ei=-XS1XqPfA4StoAS0gL34Dg&q=216+Nguy%E1%BB%85n+Th%E1%BB%8B+T%C3%BA%2C+P.+B%C3%ACnh+H%C6%B0ng+H%C3%B2a+B%2C+Q.+B%C3%ACnh+T%C3%A2n%2C+TP.+HCM&oq=216+Nguy%E1%BB%85n+Th%E1%BB%8B+T%C3%BA%2C+P.+B%C3%ACnh+H%C6%B0ng+H%C3%B2a+B%2C+Q.+B%C3%ACnh+T%C3%A2n%2C+TP.+HCM&gs_l=psy-ab.3..0i333k1.73375.73375.0.75657.1.1.0.0.0.0.334.334.3-1.1.0....0...1c.1.64.psy-ab..0.1.333....0.rDvdRVBRSJk#rlfi=hd:;si:13989375317418328690;mv:[[10.815522377319029,106.58969603206295],[10.81516242268097,106.58932956793707]]"><span style="color:#0094ff">216 Nguyễn Thị Tú, P. Bình Hưng Hòa B, Q. Bình Tân, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0912 219 211"><span style="color:#0094ff">0912 219 211</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 5:</h6>
                        <span>Address:</span><a href="https://www.foody.vn/ho-chi-minh/petpro-shop-cho-thu-cung-kinh-duong-vuong"><span style="color:#0094ff">493 Đường Kinh Dương Vương, Khu Phố 6, Phường An Lạc, Quận Bình Tân, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0911 368 041"><span style="color:#0094ff">0911 368 041</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 6:</h6>
                        <span>Address:</span><a href="https://www.foody.vn/vung-tau/petpro-shop-cho-thu-cung-nguyen-an-ninh/nearby"><span style="color:#0094ff">383 Đường Nguyễn An Ninh, Khu Phố 6, Phường 9, TP. Vũng Tàu, Bà Rịa – Vũng Tàu</span></a>
                        <br />Phone:<a href="tel:0919 949 041"><span style="color:#0094ff">0919 949 041</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>


                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Nhà Sản Xuất</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX01">Royal canin</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX02">Fitmin</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX03">Cat Eye</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX04">Whiskas</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX05">Meo-O</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX06">CityZoo</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX07">Forcans</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX08">Pedigree</a></li>

                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>



