
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@*<div class="breadcrumb-area">*@
<div class="container">
    <div class="breadcrumb-content">
        <ul>
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>@Html.ActionLink("Spa", "Index", "Spa")</li>
        </ul>
    </div>
</div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            @*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <div id="left-area">
                    <article id="post-168" class="et_pb_post post-168 post type-post status-publish format-standard has-post-thumbnail hentry category-dich-vu category-lam-dep">
                        <div class="et_post_meta_wrapper">
                            <h3 class="entry-title text-center">Spa Grooming – Dịch vụ làm đẹp cho thú cưng</h3>

                            <p class="post-meta"> bởi <span class="author vcard"><a href="https://thuypetpro.com.vn/author/hiep" title="Các bài đăng của hiep" rel="author">hiep</a></span> | <span class="published">Th3 22, 2020</span> | <a href="https://thuypetpro.com.vn/./dich-vu" rel="category tag">Dịch Vụ</a>, <a href="https://thuypetpro.com.vn/./lam-dep" rel="category tag">Làm Đẹp</a> | <span class="comments-number"><a href="https://thuypetpro.com.vn/lam-dep/spa-grooming-dich-vu-lam-dep-cho-thu-cung.html#respond">0 Lời bình</a></span></p><img src="https://thuypetpro.com.vn/wp-content/uploads/2017/02/tham-my-cho-thu-cung-o-dau.jpg" alt="Spa Grooming – Dịch vụ làm đẹp cho thú cưng" class="" width="848px" height="auto" srcset="https://thuypetpro.com.vn/wp-content/uploads/2017/02/tham-my-cho-thu-cung-o-dau.jpg 500w, https://thuypetpro.com.vn/wp-content/uploads/2017/02/tham-my-cho-thu-cung-o-dau-480x365.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 500px, 100vw">
                        </div> <!-- .et_post_meta_wrapper -->

                        <div class="entry-content">
                            <p><strong>Spa Grooming</strong> là dịch vụ chăm sóc sắc đẹp thú cưng cực kỳ nổi tiếng. Nó làm cho thú của bạn trở nên đẹp hơn, thoải mái và khỏe mạnh hơn.</p>
                            <div id="attachment_1521" style="width: 345px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-1521" class=" wp-image-1521" src="https://thuypetpro.com.vn/wp-content/uploads/2017/02/spa-grooming-cho-vat-nuoi.png" alt="Spa Grooming" width="418" height="318"><p id="caption-attachment-1521" class="wp-caption-text">Hai tháng một lần bạn nên cho thú cưng sử dụng dịch vụ Spa Grooming</p></div>
                            <h2>Spa Grooming là gì</h2>
                            <p>Đây là 1 cụm từ tương đối mới với cộng đồng nuôi thú cưng ở Thành phố Hồ chí minh. Nhưng nó là 1 dịch vụ rất phổ biến và không thể thiếu ở nước ngoài. Không đâu xa chỉ qua Thái Lan thôi các bạn sẽ thấy trên 1 con phố chừng 1 km đã có 2-3 tiệm <strong>Spa Grooming</strong> cho chó rồi. Nó nhiều tương đương với các tiệm hớt tóc gội đầu ở Việt Nam vậy. Còn trong bệnh viện thú y thì bệnh viện nào cũng sẽ có 1 phòng <strong>Spa Grooming</strong> để tắm chải làm đẹp trước khi nhập và xuất viện.</p>
                            <p>Theo khuyến cáo cứ 2 tháng 1 lần chủ nuôi nên cho chó đi tắm chải cắt lông. Chó mèo thường được mang đến vào buổi sáng đến trưa hoặc chiều mới lấy về. &nbsp;Thời gian để hoàn thiện 1 qui trình cắt tỉa mất từ 60- 180 phút. Việc tắm rửa và chăm sóc thú cưng toàn diện là một lộ trình đòi hỏi người thực hiện có kỹ thuật và kinh nghiệm. Tắm chải đúng cách sẽ giúp loại đi những phần lông, tế bào chết. Nếu không được tắm rửa đúng cách những lông chết này sẽ gây bệnh cho da như: nấm da, viên dị ứng da…</p>
                            <div id="attachment_1499" style="width: 428px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-1499" class="wp-image-1499 " src="https://ohay.vn/blog/wp-content/uploads/2020/01/petmart1-min.jpg" alt="Spa Grooming" width="418" height="318"><p id="caption-attachment-1499" class="wp-caption-text">Tắm rửa và chải lông thường xuyên cho thú nuôi giúp hạn chế các bệnh về da</p></div>
                            <h2>Liệu trình của Grooming Spa tại Pet Pro</h2>
                            <ul>
                                <li>Thú cưng sẽ được tắm rửa bằng dầu tắm chuyên dụng để làm sạch. Các sợi lông rối sẽ được gỡ, làm mượt lại. Sau khi làm sạch xong thú cưng sẽ được sấy khô bằng máy đặc dụng. Giúp lông tơi đều và thú cưng cũng không bị lạnh.</li>
                            </ul>
                            <ul>
                                <li>Vệ sinh tất cả các chân cho thú cưng, các móng chân dài sẽ được cắt tỉa gọn gàng.</li>
                            </ul>
                            <ul>
                                <li>Vệ sinh và lau chùi sạch sẽ các vết bẩn trong tai, làm sạch vùng đi vệ sinh</li>
                            </ul>
                            <ul>
                                <li>Nhỏ thuốc mắt đặc trị lấy đi các vết bẩn, rỉ và nhèm bám trong mắt</li>
                            </ul>
                            <ul>
                                <li>Cuối cùng công đoạn lâu nhất trong <strong>Spa Grooming</strong> là cắt tỉa lông theo style của từng giống thú nuôi và yêu cầu khách hàng. Công đoạn này đòi hỏi người cắt phải có óc thẩm mỹ. Có nhiều kinh nghiệm và được đào tạo nghiêm túc thì mới cho ra 1 sản phẩm có tính nghệ thuật cao. Mang lại sự hài lòng cho thân chủ và thoải mái cho thú cưng.</li>
                            </ul>
                            <div id="attachment_1522" style="width: 415px" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-1522" class="wp-image-1522" src="https://thuypetpro.com.vn/wp-content/uploads/2017/02/grooming-spa-thu-y-pet-pro.jpg" alt="Spa Grooming" width="418" height="318" srcset="https://thuypetpro.com.vn/wp-content/uploads/2017/02/grooming-spa-thu-y-pet-pro.jpg 331w, https://thuypetpro.com.vn/wp-content/uploads/2017/02/grooming-spa-thu-y-pet-pro-300x242.jpg 300w" sizes="(max-width: 405px) 100vw, 405px"><p id="caption-attachment-1522" class="wp-caption-text">Spa Grooming toàn diện cần những kỹ thuật viên có tay nghề cao</p></div>
                            <h2>Thú y Pet Pro là địa chỉ thực hiện Spa Grooming đáng tin cậy.</h2>
                            <p>Tại Thú y Pet Pro đội ngũ y bác sỹ, chăm sóc viên lành nghề luôn được cập nhập kiến thức mới. Được trau dồi kĩ năng, sự sáng tạo. Với mục tiêu cuối cùng&nbsp;là mang đến vẻ đẹp, sức khỏe tốt nhất cho các bé thú cưng</p>
                            <p>Hệ thống bệnh viện thú y Pet Pro nhiều năm qua đã trở thành địa chỉ uy tính và đáng tin cậy của nhiều chủ nuôi thú cưng. Không chỉ trong dịch vụ <strong>Spa Grooming</strong> mà còn trong tất cả các dịch vụ khám, chữa bệnh cũng như thẩm mỹ. Chúng tôi luôn sẵn sàng đáp ứng những nhu cầu dù là khó khăn nhất từ phía khách hàng. &nbsp;Pet Pro cam kết sẽ luôn phát huy và phát triển hơn nữa. Để phục vụ được tốt hơn, nhiều hơn cho các thành viên nhỏ trong gia đình&nbsp;các bạn.</p>
                            <p>&nbsp;</p>
                            <div style="display: none;" class="kk-star-ratings kksr-valign-bottom kksr-align-right kksr-disabled" data-id="168" data-slug="">
                                <div class="kksr-stars">
                                    <div class="kksr-stars-inactive">
                                        <div class="kksr-star" data-star="1">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="2">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="3">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="4">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="5">
                                            <div class="kksr-icon"></div>
                                        </div>
                                    </div>
                                    <div class="kksr-stars-active">
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kksr-legend">
                                    <strong class="kksr-score">3.7</strong>
                                    <span class="kksr-muted">/</span>
                                    <strong>5</strong>
                                    <span class="kksr-muted">(</span>
                                    <strong class="kksr-count">7</strong>
                                    <span class="kksr-muted">
                                        votes
                                    </span>
                                    <span class="kksr-muted">)</span>
                                </div>
                            </div>
                        </div> <!-- .entry-content -->
                        <div class="et_post_meta_wrapper">
                            <!-- You can start editing here. -->

                            <section id="comment-wrap"></section>
                        </div> <!-- .et_post_meta_wrapper -->
                    </article> <!-- .et_pb_post -->

                </div> 

            </div>

            @*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="# ">Prime Video</a>
                                <ul>
                                    <li><a href="#">All Videos</a></li>
                                    <li><a href="#">Blouses</a></li>
                                    <li><a href="#">Evening Dresses</a></li>
                                    <li><a href="#">Summer Dresses</a></li>
                                    <li><a href="#">T-Rent or Buy</a></li>
                                    <li><a href="#">Your Watchlist</a></li>
                                    <li><a href="#">Watch Anywhere</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Computer</a>
                                <ul>
                                    <li><a href="#">TV &amp; Video</a></li>
                                    <li><a href="#">Audio &amp; Theater</a></li>
                                    <li><a href="#">Camera, Photo</a></li>
                                    <li><a href="#">Cell Phones</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Video Games</a></li>
                                    <li><a href="#">Wireless Speakers</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Electronics</a>
                                <ul>
                                    <li><a href="#">Amazon Home</a></li>
                                    <li><a href="#">Kitchen &amp; Dining</a></li>
                                    <li><a href="#">Bed &amp; Bath</a></li>
                                    <li><a href="#">Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner (10)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#"> Studio Design (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Size</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Color</h5>
                        <div class="color-categoriy">
                            <form action="#">
                                <ul>
                                    <li><span class="white"></span><a href="#">White (1)</a></li>
                                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
                        <h5 class="filter-sub-titel">Dimension</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>









