
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@*<div class="breadcrumb-area">*@
<div class="container">
    <div class="breadcrumb-content">
        <ul>
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>@Html.ActionLink("Chăm Sóc Sức Khỏe", "Index", "ChamSocSucKhoe")</li>
        </ul>
    </div>
</div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            @*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <h3 class="entry-title text-center">Chăm Sóc Sức Khỏe</h3>
                <div id="sites-chrome-main-wrapper">
                    <div id="sites-chrome-main-wrapper-inside">
                        <table id="sites-chrome-main" class="sites-layout-hbox" cellspacing="0" cellpadding="{scmCellpadding}" border="0">
                            <tbody>
                                <tr>
                                    <td id="sites-chrome-sidebar-left" class="sites-layout-sidebar-left" style="display: none; width: 207px">
                                        <div xmlns="http://www.w3.org/1999/xhtml" id="COMP_4680892907942795" class="sites-embed" role="complementary"><h4 class="sites-embed-title"></h4><div class="sites-embed-content sites-embed-content-sidebar-textbox"><div dir="ltr"><div><img height="300" src="http://www.google.com/chart?cht=d&amp;chdp=sites&amp;chl=%5B%5BRecent+announcements'%3D20'f%5Cv'a%5C%3D0'10'%3D399'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22S%E1%BA%A3n+ph%E1%BA%A9m+th%C3%BA+c%C6%B0ng%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D400'%3D297'dim'%5C%3D10'%3D10'%3D400'%3D297'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C" style="display:block;text-align:left;margin-right:auto" width="400"></div></div></div></div>
                                    </td>
                                    <td id="sites-canvas-wrapper">
                                        <div id="sites-canvas" role="main">
                                            <div id="goog-ws-editor-toolbar-container"> </div>
                                            <div xmlns="http://www.w3.org/1999/xhtml" id="title-crumbs" style="display: none;">
                                            </div>
                                            <h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="display: none;" align="left">
                                                <span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Dịch vụ thú cưng</span>
                                            </h3>
                                            <div id="sites-canvas-main" class="sites-canvas-main">
                                                <div id="sites-canvas-main-content">
                                                    <div xmlns="http://www.w3.org/1999/xhtml" class="sites-layout-name-right-sidebar-hf sites-layout-vbox">
                                                        <div class="sites-layout-tile sites-tile-name-header sites-layout-empty-tile"><div dir="ltr"><br></div></div><table cellspacing="0" class="sites-layout-hbox">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="sites-layout-tile sites-tile-name-content-1">
                                                                        <div dir="ltr">
                                                                            <div style="display:block;text-align:left"></div>
                                                                            <div style="font-size:13.3333px">
                                                                                <font size="3">
                                                                                    <div style="display:block;text-align:left"><img border="0" src="~/Asset/images1/cssk.png" style="width:100%;display:block;margin-right:auto;text-align:left"></div>
                                                                                    <br>
                                                                                </font>
                                                                            </div>
                                                                            <div>
                                                                                <span style="font-size:13.3333px;font-family:Arial,Verdana,sans-serif">
                                                                                    <font face="times new roman, serif">
                                                                                        <div style="font-size:13.3333px">
                                                                                            <h4 style="text-align:center;margin:0px;padding:3px 5px;border-style:none;border-width:initial;border-color:initial;color:rgb(255,255,255)!important;background-color:rgb(15,57,94)!important;background-repeat:no-repeat!important"><a name="TOC-D-CH-V-TH-Y"></a><font size="3">Dịch Vụ Chăm Sóc Sức Khỏe Cho Chó</font></h4>
                                                                                        </div>
                                                                                        <div style="font-weight:normal;font-size:13.3333px"><table border="0" cellspacing="0" style="font-size:medium;background-color:transparent;border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:639px;height:200px"><br>Với các bác sĩ thú y tận tâm và giàu kinh nghiệm trên 30 năm trong nghề, phòng khám của chúng tôi tự hào cung cấp các dịch vụ thú y chuyên nghiệp:<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Khám, chẩn đoán và điều trị các bệnh trên chó như:Care,ho cũi chó, ghẻ Demondex,..<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Tiêm phòng các bệnh truyền nhiễm như: Dại, Carré, Parvo, ho cũi chó, viêm gan, Lestospira...<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Tẩy giun, sán, ve, rận, bọ chét.<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Phẫu thuật thẩm mỹ.<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Bán thuốc và các dụng cụ thú y.<br><b></b></td><td style="width:200px;height:200px"><div><div></div><div style="display:block;text-align:left"><img border="0" src="https://sites.google.com/site/dichvuthucungtrungtinh/_/rsrc/1475223784436/dich-vu-thu-cung/Dollarphotoclub_90059779.jpg" style="width:100%;display:block;margin-right:auto;text-align:left"></div></div></td></tr></tbody></table></div><div style="font-weight:normal;font-size:13.3333px"><br></div>
                                                                                    </font>
                                                                                </span>
                                                                                <h4 style="text-align:center;margin:0px;padding:3px 5px;border-style:none;border-width:initial;border-color:initial;color:rgb(255,255,255)!important;background-color:rgb(15,57,94)!important;background-repeat:no-repeat!important"><a name="TOC-MUA-B-N-TH-C-NG"></a><font face="times new roman, serif" size="3">Dịch Vụ Chăm Sóc Sức Khỏe Cho Mèo</font></h4>
                                                                            </div><div style="font-size:13.3333px"><b style="font-size:13.3333px"><span style="font-weight:normal"><font face="times new roman, serif"><div style="font-size:13.3333px"><div style="font-size:13.3333px"><font size="3"><table border="0" cellspacing="0" style="border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:640px;height:199px">&nbsp;<br>Chúng tôi còn cung cấp các dịch vụ chữa bệnh cho mèo như:.<br><br>-Bệnh dại(Rabies), nhiễm trùng đường hô hấp, Bệnh Feline Panleukopenia (FP).<br><br>-Bệnh FIV, FIP, Chlamydia, FeLV,  ký sinh trùng,...<br><br>-Tiêm phòng các bệnh truyền nhiễm.<br><br>-Tẩy giun, sán, ve, rận, bọ chét.<br><br>-Phẫu thuật thẩm mỹ.<br><br>-Bán thuốc và các dụng cụ thú y.</td><td style="width:199px;height:199px"><div style="display:block;text-align:left"><img border="0" src="~/Asset/images1/cssk1.png" style="width:100%;display:block;margin-right:auto;text-align:left"></div></td></tr></tbody></table></font></div></div></font></span></b></div><div style="font-size:13.3333px">
                                                                                <font size="3">
                                                                                    <br>
                                                                                </font>
                                                                            </div>
                                                                            <div>
                                                                                <b>
                                                                                    <span style="font-weight:normal">
                                                                                        <h4 style="text-align:center;margin:0px;padding:3px 5px;border-style:none;border-width:initial;border-color:initial;color:rgb(255,255,255)!important;background-color:rgb(15,57,94)!important;background-repeat:no-repeat!important"><a name="TOC-D-CH-V-PH-I-GI-NG"></a><font face="times new roman, serif" size="3">Dịch Vụ Chăm Sóc Sức Khỏe Cho Hamster</font></h4>
                                                                                        <div style="font-size:13.3333px"><div style="font-family:times new roman,serif;font-size:13.3333px"><font size="3"><table border="0" cellspacing="0" style="border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:639px;height:200px">&nbsp;<br><table border="0" cellspacing="0" style="background-color:transparent;border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:639px;height:200px">Phòng khám thú y của chúng tôi cung cấp các dịch vụ thú y cho Hamster như:<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Dị ứng, chứng liệt cơ, cảm cúm, táo bón, Đái đường.<br><br><span>&nbsp;&nbsp; &nbsp;</span>- Đục nhân mắt, ỉa chảy (diarrhea), Tăng nhãn áp (di truyền),...</td></tr></tbody></table></td><td style="width:200px;height:200px"><div style="display:block;text-align:left"><img border="0" src="~/Asset/images1/cssk2.png" style="width:100%;display:block;margin-right:auto;text-align:left"></div></td></tr></tbody></table></font></div></div><div style="font-size:13.3333px">
                                                                                            <h4 style="text-align:center;margin:0px;padding:3px 5px;border-style:none;border-width:initial;border-color:initial;color:rgb(255,255,255)!important;background-color:rgb(15,57,94)!important;background-repeat:no-repeat!important"><a name="TOC-NU-I-GI-V-V-N-CHUY-N-TH-C-NG"></a><font face="times new roman, serif" size="3">Dịch Vụ Chăm Sóc Sức Khỏe Cho Các Thú Cưng Khác</font></h4>
                                                                                        </div><div style="font-size:13.3333px"><div style="font-family:times new roman,serif;font-size:13.3333px"><font size="3"><table border="0" cellspacing="0" style="border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:639px;height:200px">&nbsp;<br><span>&nbsp;&nbsp; &nbsp;</span>- Phòng khám thú y của chúng tôi còn cung cấp các dịch vụ thú y cho các thú cưng khác như:<br><br><span>&nbsp;&nbsp; &nbsp;</span>-Chim: ho khang, viêm tuyến nhờn, các bệnh về chân, dạ dày,...<br><br><span>&nbsp;&nbsp; &nbsp;</span>-Thỏ: tụ huyết trùng, viêm mũi, cầu trùng (cocidiosis),trướng hơi đầy bụng,...<br><br><span>&nbsp; &nbsp; - Và chúng tôi còn nhận chữa bệnh cho các thú cưng khác hiện nay.</span><br><br><font color="#ff9900"><br>^.^ VÌ THÚ CƯNG CỦA BẠN CHÚNG TÔI KHÔNG NGỪNG VƯƠN TỚI ^.^ !!!</font></td><td style="width:200px;height:200px"><div style="display:block;text-align:left"><img border="0" src="~/Asset/images1/cssk3.png" style="width:100%"></div></td></tr></tbody></table><br></font></div></div>
                                                                                    </span>
                                                                                </b>
                                                                            </div>
                                                                            <div dir="ltr"></div>
                                                                            <div dir="ltr"></div>
                                                                            <div dir="ltr">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                    </td>



                                                                </tr>
                                                            </tbody>
                                                        </table><div class="sites-layout-tile sites-tile-name-footer">
                                                            <div dir="ltr">
                                                                <div>


                                                                    <script type="text/javascript">
                                                                            //<![CDATA[
                                                                            JOT_recentAnnouncementPreload~/Asset/images = function () {
                                                                                var loader = new gsites.util.ImagePreloader();
                                                                                loader.init('sites-canvas-main-content', 'sites-recentannouncements-thumbnails');
                                                                            };
                                                                            JOT_addListener('pageLoaded', JOT_recentAnnouncementPreload~/Asset/images);
                                                                            JOT_addListener('completeEditRender', JOT_recentAnnouncementPreload~/Asset/images);
                                                                                                                                                //]]>
                                                                    </script>
                                                                </div><br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="sites-canvas-bottom-panel">
                                                <div id="sites-attachments-container">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            @*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="# ">Prime Video</a>
                                <ul>
                                    <li><a href="#">All Videos</a></li>
                                    <li><a href="#">Blouses</a></li>
                                    <li><a href="#">Evening Dresses</a></li>
                                    <li><a href="#">Summer Dresses</a></li>
                                    <li><a href="#">T-Rent or Buy</a></li>
                                    <li><a href="#">Your Watchlist</a></li>
                                    <li><a href="#">Watch Anywhere</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Computer</a>
                                <ul>
                                    <li><a href="#">TV &amp; Video</a></li>
                                    <li><a href="#">Audio &amp; Theater</a></li>
                                    <li><a href="#">Camera, Photo</a></li>
                                    <li><a href="#">Cell Phones</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Video Games</a></li>
                                    <li><a href="#">Wireless Speakers</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Electronics</a>
                                <ul>
                                    <li><a href="#">Amazon Home</a></li>
                                    <li><a href="#">Kitchen &amp; Dining</a></li>
                                    <li><a href="#">Bed &amp; Bath</a></li>
                                    <li><a href="#">Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner (10)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#"> Studio Design (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Size</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                                    <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Color</h5>
                        <div class="color-categoriy">
                            <form action="#">
                                <ul>
                                    <li><span class="white"></span><a href="#">White (1)</a></li>
                                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
                        <h5 class="filter-sub-titel">Dimension</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>







