
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@*<div class="breadcrumb-area">*@
<div class="container">
    <div class="breadcrumb-content">
        <ul>
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>@Html.ActionLink("Tuyển Dụng", "Index", "TuyenDung")</li>
        </ul>
    </div>
</div>
@*</div>*@
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            @*---------------------------------------------------------------------------------------------------------------------------------------*@

            <div id="main-content" class="col-lg-9 order-1 order-lg-2">
                <div id="left-area">



                    <article id="post-2813" class="post-2813 page type-page status-publish hentry">


                        <h3 class="entry-title main_title text-center">Cơ Hội Nghề Nghiệp</h3>


                        <div class="entry-content">

                            <p><span style="color: #000000;"><strong>Pet Pro </strong>không chỉ cho bạn một công việc có mức lương đủ sống mà còn xây cho bạn những bậc thang vững chắc về nghề nghiệp để từ đó bạn có thể phát huy rồi làm chủ được cuộc đời mình trong tương lai.. Bất cứ một BSTY nào mới ra trường cũng rất cần một bệnh viên chuyên nghiệp, chuẩn mực, uy tín để làm bật thang cho hành trình gây dựng cơ đồ thì <strong>Pet Pro </strong>được xem là cái nôi tốt cho những ai đam mê trong lĩnh vực chăm sóc, điều trị thú cưng.</span></p>



                            <p><span style="color: #000000;">Hãy sáng suốt chọn cho mình một mái nhà mà ở đó mình được huấn luyện đào tạo bài bản, chuyên nghiệp làm theo quy trình, điều trị theo phát đồ, chẩn đoán theo chứng cứ. Một mái nhà mà phương châm hoạt động lấy đổi mới, sáng tạo làm tiêu chí để trường tồn, nên việc học hỏi không được phép dừng lại dù bạn đảm nhận vị trí nào đi nữa thì cũng luôn được đào tạo, cấp nhất để bạn khám phá ra chính mình và tỏa hết năng lượng hữu ích cho công việc.</span></p>



                            <figure class="wp-block-image text-center"><img src="https://thuypetpro.com.vn/wp-content/uploads/2018/03/doan-ket-lam-viec-hoc-hoi-vui-choi-300x300.jpg" width="848" height="auto" alt="" class="wp-image-2864"></figure>



                            <p><span style="color: #000000;"><em></em></span></p>



                            <p><span style="color: #000000;"><em>Ảnh: đoàn kết, làm việc, học hỏi, vui chơi.</em></span></p>



                            <p><span style="color: #000000;">Nếu xem đây là ngôi nhà mơ ước hãy tham gia vào các vị trí:</span></p>



                            <h3><span style="color: #000000;"><strong>1/ Bác sĩ điều trị</strong></span></h3>



                            <p><span style="color: #000000;">Trong 3 tháng đầu đào tạo, huấn luyện để trở thành một Bs làm việc độc lập, được hưởng lương: 7 triệu/tháng.</span></p>



                            <p><span style="color: #000000;">Tháng thứ 4 trở đi sẽ trả lương bằng 20% của doanh số làm ra (vd: làm ra 100 triệu/tháng sẽ được lãnh 20 triệu/tháng).</span></p>



                            <p><span style="color: #000000;">Được sắp xếp chỗ ở sạch sẽ, thoáng mát, thuận tiện giao thông</span></p>



                            <p><span style="color: #000000;">Được tham gia đào tạo tại chỗ và gởi đi học ở các tổ chức hợp tác quốc tế như: VSAVA, CEVEO, các cty tài trợ. 1 năm / lần. Nếu có tố chất quản lý được cho đi học để trở thành quản lý Bệnh Viện.</span></p>



                            <p><span style="color: #000000;">Được du lịch trong hay ngoài nước 1 năm/1 lần.</span></p>



                            <p><span style="color: #000000;">Được tháng lương 13.</span></p>



                            <p><span style="color: #000000;">Được chích ngừa, tẩy giun 1 năm/1 lần.</span></p>



                            <p><span style="color: #000000;">Điều Kiện:</span></p>



                            <ul><li class="zw-paragraph heading105" data-hd-info="105" data-list-id="1" data-list-info="{&quot;id&quot;:1,&quot;l&quot;:0}" data-header="105" data-textformat="{&quot;size&quot;:14}"><span style="color: #000000;">Tốt&nbsp;nghiệp&nbsp;chuyên&nbsp;ngành BSTY&nbsp;trở&nbsp;lên&nbsp;(&nbsp;không&nbsp;phân&nbsp;biệt&nbsp;quốc&nbsp;gia,&nbsp;vùng&nbsp;miền&nbsp;cấp&nbsp;bằng) .</span></li><li class="zw-paragraph heading105" data-hd-info="105" data-list-id="1" data-list-info="{&quot;id&quot;:1,&quot;l&quot;:0}" data-header="105" data-textformat="{&quot;size&quot;:14}"><span style="color: #000000;">Độ&nbsp;tuổi&nbsp;từ : 23-33&nbsp;tuổi (&nbsp;không&nbsp;phân&nbsp;biệt&nbsp;nam,&nbsp;nữ,&nbsp;tình&nbsp;trạng&nbsp;hôn&nbsp;nhân)</span></li><li class="zw-paragraph heading105" data-hd-info="105" data-list-id="1" data-list-info="{&quot;id&quot;:1,&quot;l&quot;:0}" data-header="105" data-textformat="{&quot;size&quot;:14}"><span style="color: #000000;">Có&nbsp;thái&nbsp;độ&nbsp;làm&nbsp;việc&nbsp;tốt:&nbsp;độc&nbsp;lập,&nbsp;cầu&nbsp;tiến,&nbsp;yêu&nbsp;thú&nbsp;cưng.</span></li><li class="zw-paragraph heading105" data-hd-info="105" data-list-id="1" data-list-info="{&quot;id&quot;:1,&quot;l&quot;:0}" data-header="105" data-textformat="{&quot;size&quot;:14}"><span style="color: #000000;">Am&nbsp;hiểu&nbsp;đặc&nbsp;điểm&nbsp;của&nbsp;nghề&nbsp;nghiệp:&nbsp;tiếp&nbsp;xúc&nbsp;thường&nbsp;xuyên&nbsp;với&nbsp;thú&nbsp;cưng,&nbsp;phải&nbsp;trực&nbsp;đêm.</span></li></ul>



                            <p><span style="color: #000000;">Ưu&nbsp;tiên&nbsp;có&nbsp;kinh&nbsp;nghiệm&nbsp;về&nbsp;điều&nbsp;trị&nbsp;thú&nbsp;cưng&nbsp;và&nbsp;giao&nbsp;tiếp&nbsp;được&nbsp;bằng&nbsp;tiếng&nbsp;anh.</span></p>



                            <h3><span style="color: #000000;"><strong>2/ Kỹ thuật viên thú-y</strong></span></h3>



                            <p><span style="color: #000000;">Trong 2 tháng đầu đào tạo, huấn luyện để trở thành một KTV hợp tác nhịp nhàng với BS điều trị, có khả năng làm việc độc lập, được hưởng lương: 5 triệu/ tháng.</span></p>



                            <p><span style="color: #000000;">Tháng thứ 3 trở đi sẽ trả lương bằng 20 % của doanh số làm ra (vd: làm ra 50 triệu/tháng sẽ được lãnh 10 triệu/tháng).</span></p>



                            <p><span style="color: #000000;">Được sắp xếp chỗ ở sạch sẽ, thoáng mát, thuận tiện giao thông</span></p>



                            <p><span style="color: #000000;">Được tham gia đào tạo tại chỗ và gởi đi học ở các tổ chức&nbsp; hợp tác quốc tế như: VSAVA, các cty tài trợ. 1 năm/lần. Nếu có tố chất quản lý được cho đi học để trở thành quản lý Team.</span></p>



                            <p><span style="color: #000000;">Được du lịch trong nước 1 năm/1 lần.</span></p>



                            <p><span style="color: #000000;">Được chích ngừa, tẩy giun 1 năm/1 lần</span></p>



                            <p><span style="color: #000000;">Điều Kiện:</span></p>



                            <ul><li class="zw-paragraph heading105" data-hd-info="105" data-list-id="1" data-list-info="{&quot;id&quot;:1,&quot;l&quot;:0}" data-header="105" data-textformat="{&quot;size&quot;:14}"><span style="color: #000000;">Tốt&nbsp;nghiệp&nbsp;chuyên&nbsp;ngành&nbsp;chăn&nbsp;nuôi –thú y&nbsp;từ&nbsp;trung&nbsp;cấp&nbsp;trở&nbsp;lên&nbsp;(&nbsp;không&nbsp;phân&nbsp;biệt&nbsp;quốc&nbsp;gia,&nbsp;vùng&nbsp;miền&nbsp;cấp&nbsp;bằng) .</span></li><li class="zw-paragraph heading105" data-hd-info="105" data-list-id="1" data-list-info="{&quot;id&quot;:1,&quot;l&quot;:0}" data-header="105" data-textformat="{&quot;size&quot;:14}"><span style="color: #000000;">Độ&nbsp;tuổi&nbsp;từ : 22-35&nbsp;tuổi (&nbsp;không&nbsp;phân&nbsp;biệt&nbsp;nam,&nbsp;nữ,&nbsp;tình&nbsp;trạng&nbsp;hôn&nbsp;nhân)</span></li><li class="zw-paragraph heading105" data-hd-info="105" data-list-id="1" data-list-info="{&quot;id&quot;:1,&quot;l&quot;:0}" data-header="105" data-textformat="{&quot;size&quot;:14}"><span style="color: #000000;">Có&nbsp;thái&nbsp;độ&nbsp;làm&nbsp;việc&nbsp;tốt:&nbsp;độc&nbsp;lập,&nbsp;cầu&nbsp;tiến,&nbsp;yêu&nbsp;thú&nbsp;cưng.</span></li><li class="zw-paragraph heading105" data-hd-info="105" data-list-id="1" data-list-info="{&quot;id&quot;:1,&quot;l&quot;:0}" data-header="105" data-textformat="{&quot;size&quot;:14}"><span style="color: #000000;">Am&nbsp;hiểu&nbsp;đặc&nbsp;điểm&nbsp;của&nbsp;nghề&nbsp;nghiệp:&nbsp;tiếp&nbsp;xúc&nbsp;thường&nbsp;xuyên&nbsp;với&nbsp;thú&nbsp;cưng,&nbsp;phải&nbsp;trực&nbsp;đêm.</span></li></ul>



                            <p><span style="color: #000000;">Ưu&nbsp;tiên&nbsp;có&nbsp;kinh&nbsp;nghiệm&nbsp;về&nbsp;điều&nbsp;trị&nbsp;thú&nbsp;cưng.</span></p>



                            <h3><span style="color: #000000;"><strong>3/ Nhân viên bán hàng</strong></span></h3>



                            <p><span style="color: #000000;">Trong 1 tháng đầu đào tạo, huấn luyện để trở thành một nhân viên bán hàng có khả năng tư vấn các sản phẩm dành cho thú cưng, được hưởng lương 4-5 triệu/tháng.</span></p>



                            <p><span style="color: #000000;">Tháng thứ 2 trở đi sẽ trả lương bằng 5% của doanh số bán hàng ( vd: bán được 200 triệu/tháng sẽ được lãnh 10 triệu/ tháng).</span></p>



                            <p><span style="color: #000000;">Được sắp xếp chỗ ở sạch sẽ, thoáng mát, thuận tiện giao thông</span></p>



                            <p><span style="color: #000000;">Được tham gia đào tạo tại chỗ và gởi đi học các khóa đào tạo Kỹ năng bán hàng, Kỹ năng thuyết phục khách hàng, kiểm soát bán hàng…ở các trường đào tạo Sale</span></p>



                            <p><span style="color: #000000;">Được du lịch trong nước 1 năm/1 lần.</span></p>



                            <p><span style="color: #000000;">Điều kiện:</span></p>



                            <ul><li><span style="color: #000000;">Yêu thích thú cưng</span></li><li><span style="color: #000000;">Tuổi 18-40 không phân biệt giới tính</span></li><li><span style="color: #000000;">Trình độ văn hóa: 9/12- trung cấp</span></li><li><span style="color: #000000;">Có kinh nghiệm bán hàng càng tốt</span></li></ul>



                            <h3><span style="color: #000000;"><strong>4/ Nhân viên thu ngân<br></strong></span></h3>



                            <ul><li><span style="color: #000000;">Giới tính: Nữ</span></li><li><span style="color: #000000;">Ưu tiên có kinh nghiệm</span></li><li><span style="color: #000000;">Tuổi từ 22 đến 30 tuổi</span></li><li><span style="color: #000000;">Mức lương thỏa thuận và được trao đổi kỹ hơn khi phỏng vấn</span></li></ul>



                            <h3><span style="color: #000000;"><strong>5/ Nhân viên lễ tân kim thu ngân<br></strong></span></h3>



                            <ul><li><span style="color: #000000;">Giới tính: Nữ</span></li><li><span style="color: #000000;">Có ngoại hình và ưu tiên biết tiếng anh</span></li><li><span style="color: #000000;">Được đào tạo theo chuyên môn</span></li><li><span style="color: #000000;">Lương thỏa thuận. (thử việc lương: 5.000.000 VND)</span></li></ul>



                            <h3><span style="color: #000000;"><strong>6/ Nhân viên Spa Grooming</strong></span></h3>



                            <ul><li><span style="color: #000000;">Giới tính: Không biệt nam hoặc nữ</span></li><li><span style="color: #000000;">Mức lương: 7 – 10 triệu</span></li><li><span style="color: #000000;">Được đào tạo theo chuyên môn</span></li><li><span style="color: #000000;">Có sáng tạo trong việc cắt tỉa thú cưng</span></li><li><span style="color: #000000;">Ưu tiên có kinh nghiệm và sức khỏe tốt</span></li><li><span style="color: #000000;">Tuổi từ 18 đến 30 tuổi</span></li></ul>



                            <p><span style="color: #000000;">Nếu yêu thích bất cứ vị trí nào các bạn chỉ cần bỏ ra 5 phút hoàn thành&nbsp;<a style="color: #000000;" href="https://thuypetpro.com.vn/goi-cv"><strong>đơn ứng tuyển online(click vào đây)</strong></a>, để có cơ hội sống trong ngôi nhà Pet Pro nhé.</span></p>
                            <div style="display: none;" class="kk-star-ratings kksr-valign-bottom kksr-align-right kksr-disabled" data-id="2813" data-slug="">
                                <div class="kksr-stars">
                                    <div class="kksr-stars-inactive">
                                        <div class="kksr-star" data-star="1">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="2">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="3">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="4">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star" data-star="5">
                                            <div class="kksr-icon"></div>
                                        </div>
                                    </div>
                                    <div class="kksr-stars-active">
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                        <div class="kksr-star">
                                            <div class="kksr-icon"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kksr-legend">
                                    <span class="kksr-muted"></span>
                                </div>
                            </div>
                        </div> <!-- .entry-content -->


                    </article> <!-- .et_pb_post -->



                </div>

            </div>

            @*---------------------------------------------------------------------------------------------------------------------------------------*@


            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Sản Phẩm</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>                                                                                                        
                            
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP01">Thời Trang Cho Chó Mèo</a>                                
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP02">Dụng Cụ Hàng Ngày</a>
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP03">Thức Ăn Cho Chó Mèo</a>
                            </li>
                            <li>
                                <i style="color:#000000" class="fa fa-check" aria-hidden="true"></i><a style="color:#0094ff; padding-left:1em" href="http://localhost:57835/CuaHang/Index/LSP04">Các Loại Thuốc Cho Chó Mèo</a>
                            </li>
                           
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Các Cơ Sở PetPro</h2>
                    </div>
                    <div class="pt-sm-10 pb-sm-15 pb-xs-15"> 
                         
                        <h6 style="padding-top:1em">Thú-Y Petpro 1:</h6>                     
                        <span>Address:</span><a href="https://map.coccoc.com/map/13233965271225801"><span style="color:#0094ff">192/7 Phú Thọ Hòa, P. Phú Thọ Hòa, Q. Tân Phú, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0913 949 041"><span style="color:#0094ff">0913 949 041</span></a><a href="tel:02838 612977">-<span style="color:#0094ff">(028) 38 612977</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 2:</h6>
                        <span>Address:</span><a href="https://map.coccoc.com/map/136593830672798"><span style="color:#0094ff">387-389 Cộng Hòa, P. 13, Q. Tân Bình, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0917 710 311"><span style="color:#0094ff">0917 710 311</span></a><a href="tel:02862 972 290">-<span style="color:#0094ff">(028) 62 972 290</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 3:</h6>
                        <span>Address:</span><a href="https://map.coccoc.com/map/1235125498726361"><span style="color:#0094ff">111 Trường Chinh, P. 12 Q. Tân Bình TP. HCM</span></a>
                        <br />Phone:<a href="tel:0916 219 211"><span style="color:#0094ff">0916 219 211</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 4:</h6>
                        <span>Address:</span><a href="https://www.google.com/search?rlz=1C1SQJL_enVN866VN866&tbm=lcl&ei=-XS1XqPfA4StoAS0gL34Dg&q=216+Nguy%E1%BB%85n+Th%E1%BB%8B+T%C3%BA%2C+P.+B%C3%ACnh+H%C6%B0ng+H%C3%B2a+B%2C+Q.+B%C3%ACnh+T%C3%A2n%2C+TP.+HCM&oq=216+Nguy%E1%BB%85n+Th%E1%BB%8B+T%C3%BA%2C+P.+B%C3%ACnh+H%C6%B0ng+H%C3%B2a+B%2C+Q.+B%C3%ACnh+T%C3%A2n%2C+TP.+HCM&gs_l=psy-ab.3..0i333k1.73375.73375.0.75657.1.1.0.0.0.0.334.334.3-1.1.0....0...1c.1.64.psy-ab..0.1.333....0.rDvdRVBRSJk#rlfi=hd:;si:13989375317418328690;mv:[[10.815522377319029,106.58969603206295],[10.81516242268097,106.58932956793707]]"><span style="color:#0094ff">216 Nguyễn Thị Tú, P. Bình Hưng Hòa B, Q. Bình Tân, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0912 219 211"><span style="color:#0094ff">0912 219 211</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 5:</h6>
                        <span>Address:</span><a href="https://www.foody.vn/ho-chi-minh/petpro-shop-cho-thu-cung-kinh-duong-vuong"><span style="color:#0094ff">493 Đường Kinh Dương Vương, Khu Phố 6, Phường An Lạc, Quận Bình Tân, TP. HCM</span></a>
                        <br />Phone:<a href="tel:0911 368 041"><span style="color:#0094ff">0911 368 041</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                        <div>-----------------------------------</div>

                        <h6>Thú-Y Petpro 6:</h6>
                        <span>Address:</span><a href="https://www.foody.vn/vung-tau/petpro-shop-cho-thu-cung-nguyen-an-ninh/nearby"><span style="color:#0094ff">383 Đường Nguyễn An Ninh, Khu Phố 6, Phường 9, TP. Vũng Tàu, Bà Rịa – Vũng Tàu</span></a>
                        <br />Phone:<a href="tel:0919 949 041"><span style="color:#0094ff">0919 949 041</span></a>
                        <br />Facebook:<a href="https://www.facebook.com/thuypetpro.com.vn/"><span style="color:#0094ff">thuypetpro.com.vn</span></a>
                       
                                                
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2 style="text-align:center">Nhà Sản Xuất</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX01">Royal canin</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX02">Fitmin</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX03">Cat Eye</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX04">Whiskas</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX05">Meo-O</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX06">CityZoo</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX07">Forcans</a></li>
                            <li><a style="color:#0094ff" href="http://localhost:57835/NhaSanXuat/Index/NSX08">Pedigree</a></li>                       
                      
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
    </div>
</div>



















